<i18n>
{
  "fr": {
    "title-emfa": "Facteurs d'émissions",
    "text-emfa-file": "Les fichiers suivant décrivent l'ensemble des choix effectués par <em>Labos 1point5</em> : <a class='link' target='_blank' href='/static/carbon/FacteursEmission_GES1point5_Juin2021.pdf'> <span class='icon is-small'><i class='fa fa-file-pdf-o'></i></span> Facteurs d'emission - version de juin 2021</a> et <a class='link' target='_blank' href='/static/carbon/FacteursEmission_BiensEtServices_janvier2022_FR.pdf'> <span class='icon is-small'><i class='fa fa-file-pdf-o'></i></span> Facteurs d'emission biens et services - version de janvier 2022</a>. Pour les biens et services vous pouvez également consulter une discussion plus détaillée dans [<a target='_blank' class='link' href='https://doi.org/10.1101/2023.04.04.535626'>De Paepe 2023</a>]",
    "purchases-ef": "Vous trouverez ci-dessous les facteurs d’émission de la base de données PER1P5 (Purchases in research 1point5) v0.1-2022, utilisés par le module « achats » de <em>GES 1point5</em>. Ils sont disponibles sous licence Creative Commons <a target='_blank' class='link' href='https://creativecommons.org/licenses/by-nc-sa/2.0/fr/'>BY-NC-SA</a> (attribution, pas d’utilisation commerciale, partage dans les même conditions).",
    "field-1": "Selectionnez un module pour lequel télécharger les facteurs d'émissions",
    "download": "Télécharger"
  },
  "en": {
    "title-emfa": "Emission factors",
    "text-emfa-file": "The emission factors posted below are specific to research institutions located in France (including the overseas territories). These factors must be customised to the country where the research institutions are located, as they rely on specific local conditions, such as the fuel mix of the generation of electricity, the fuel mix of the district heating systems, the origin of the fuel supplies, the energy efficiency of the vehicle fleets, the traffic level, ...",
    "purchases-ef": "You will find below the emission factors from the PER1P5 (Purchases in research 1point5) database v0.1-2022, used by the « purchases » module of <em>GHG 1point5</em>. They are available under the Creative Commons license <a target='_blank' class='link' href='https://creativecommons.org/licenses/by-nc-sa/2.0/fr/'>BY-NC-SA</a> (attribution, no commercial use, share alike).",
    "field-1": "Select a module for which to download the emission factors",
    "download": "Download"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'cloud'">
      <template #title>
        {{ $t('title-emfa') }}
      </template>
      <span v-html="$t('text-emfa-file')" />.
    </su-service>
    <br/>
    <b-notification :closable="false">
      <b-field :label="$t('field-1')">
        <b-select
          v-model="moduleToExport"
          :placeholder="$t('field-1')"
          expanded
        >
          <option
            :value="module"
            v-for="(module,index) in modulesFactors"
            :key="index"
          >
            {{ $t(module) }}
          </option>
        </b-select>
        <p class="control">
          <b-button
            icon-left="download"
            type="is-primary"
            @click="csvExport()"
          >
            {{ $t('download') }}
          </b-button>
        </p>
      </b-field>

    </b-notification>
    <b-tabs
      :animated="false"
      v-model="activeTab"
      style="position:absolute;left:0;right:0;margin-top:30px"
      >
      <b-tab-item icon="car" value="vehicles" :label="$t('vehicles')">
        <emissions-factors-table v-if="activeTab==='vehicles'" :factors="vehiclesFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="train" value="transports" :label="$t('transports')">
        <emissions-factors-table v-if="activeTab==='transports'" :factors="transportsFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="thermometer-full" value="heatings" :label="$t('heatings')">
        <emissions-factors-table v-if="activeTab==='heatings'" :factors="heatingsFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="plug" value="electricity" :label="$t('electricity')">
        <emissions-factors-table v-if="activeTab==='electricity'" :factors="electricityFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="tint" value="water" :label="$t('water')">
        <emissions-factors-table v-if="activeTab==='water'" :factors="waterFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="textpattern" value="construction" :label="$t('construction')">
        <emissions-factors-table v-if="activeTab==='construction'" :factors="constructionFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="snowflake-o" value="refrigerants" :label="$t('refrigerants')">
        <emissions-factors-table v-if="activeTab==='refrigerants'" :factors="refrigerantsFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="eur" value="purchases" :label="$t('purchases')">
        <b-notification :closable="false">
          <span v-html="$t('purchases-ef')" />
        </b-notification>
        <b-notification :closable="false">
          <span style="margin-top:8px">
            <b-tag rounded type="is-info">How to cite</b-tag>&nbsp;
            <em>Purchases dominate the carbon footprint of research laboratories.</em>
            Marianne De Paepe, Laurent Jeanneau, Jérôme Mariette, Olivier Aumont, Andre
            Estevez-Torres. 2023 Biorxiv.
            <a
              target="_blank"
              class="link"
              href="https://doi.org/10.1101/2023.04.04.535626"
            >
              10.1101/2023.04.04.535626v2
            </a>.
          </span>
        </b-notification>
        <emissions-factors-table v-if="activeTab==='purchases'" :factors="purchasesFactors" class="overflowcontent" />
      </b-tab-item>
      <b-tab-item icon="cutlery" value="foods" :label="$t('foods')">
        <help-emissions-factors />
        <emissions-factors-table
          v-if="activeTab==='foods'"
          :factors="foodsFactors" class="overflowcontent"
        />
      </b-tab-item>
      <b-tab-item icon="hubzilla" value="ractivities" :label="$t('ractivities')">
        <emissions-factors-table v-if="activeTab==='ractivities'" :factors="ractivitiesFactors" class="overflowcontent" />
      </b-tab-item>
    </b-tabs>
    <div v-if="activeTab==='purchases'" style="margin-top:950px;" />
    <div v-else style="margin-top:700px;" />
  </div>
</template>

<script>
import EmissionFactor from '@/models/carbon/EmissionFactor.js'
import VEHICLES_FACTORS from '@/../data/emissionFactors/vehiclesFactors.json'
import TRANSPORTS_FACTORS from '@/../data/emissionFactors/transportsFactors.json'
import HEATING_FACTORS from '@/../data/emissionFactors/heatingFactors.json'
import ELECTRICITY_FACTORS from '@/../data/emissionFactors/electricityFactors.json'
import REFRIGERANTS_FACTORS from '@/../data/emissionFactors/refrigerantsFactors.json'
import PURCHASES_FACTORS from '@/../data/emissionFactors/purchasesFactors.json'
import WATER_FACTORS from '@/../data/emissionFactors/waterFactors.json'
import FOOD_FACTORS from '@/../data/emissionFactors/foodFactors.json'
import CONSTRUCTION_FACTORS from '@/../data/emissionFactors/constructionFactors.json'
import RACTIVITIES_FACTORS from '@/../data/emissionFactors/ractivitiesFactors.json'
import { createExportFile } from '@/utils/files'
import Modules from '@/models/Modules.js'

const MODULES_FACTORS = [
  Modules.VEHICLES,
  'transports',
  Modules.HEATINGS,
  Modules.ELECTRICITY,
  Modules.REFRIGERANTS,
  Modules.PURCHASES,
  Modules.RACTIVITIES
]
export default {
  name: 'EmissionsFactors',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'help-emissions-factors': () => import('@/components/carbon/forms/foods/HelpEmissionsFactors.vue'),
    'emissions-factors-table': () => import('@/components/carbon/docs/EmissionsFactorsTable.vue')
  },
  data () {
    return {
      activeTab: Modules.VEHICLES,
      modulesFactors: MODULES_FACTORS,
      moduleToExport: null
    }
  },
  computed: {
    vehiclesFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(VEHICLES_FACTORS)) {
        for (let subsubcategory of Object.keys(VEHICLES_FACTORS[subcategory])) {
          factors.push(
            new EmissionFactor(
              VEHICLES_FACTORS[subcategory][subsubcategory].decomposition,
              Modules.VEHICLES,
              subcategory,
              subsubcategory,
              VEHICLES_FACTORS[subcategory][subsubcategory].description_FR,
              VEHICLES_FACTORS[subcategory][subsubcategory].description_EN,
              VEHICLES_FACTORS[subcategory][subsubcategory].unit,
              VEHICLES_FACTORS[subcategory][subsubcategory].group
            )
          )
        }
      }
      return factors
    },
    transportsFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(TRANSPORTS_FACTORS)) {
        for (let subsubcategory of Object.keys(TRANSPORTS_FACTORS[subcategory])) {
          factors.push(
            new EmissionFactor(
              TRANSPORTS_FACTORS[subcategory][subsubcategory].decomposition,
              'transports',
              subcategory,
              subsubcategory,
              TRANSPORTS_FACTORS[subcategory][subsubcategory].description_FR,
              TRANSPORTS_FACTORS[subcategory][subsubcategory].description_EN,
              TRANSPORTS_FACTORS[subcategory][subsubcategory].unit,
              TRANSPORTS_FACTORS[subcategory][subsubcategory].group
            )
          )
        }
      }
      return factors
    },
    heatingsFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(HEATING_FACTORS)) {
        for (let subsubcategory of Object.keys(HEATING_FACTORS[subcategory])) {
          let rsubsubcat = subsubcategory
          if (subsubcategory.startsWith('network')) {
            rsubsubcat = HEATING_FACTORS[subcategory][subsubcategory].description_FR
          }
          factors.push(
            new EmissionFactor(
              HEATING_FACTORS[subcategory][subsubcategory].decomposition,
              Modules.HEATINGS,
              subcategory,
              rsubsubcat,
              HEATING_FACTORS[subcategory][subsubcategory].description_FR,
              HEATING_FACTORS[subcategory][subsubcategory].description_EN,
              HEATING_FACTORS[subcategory][subsubcategory].unit,
              HEATING_FACTORS[subcategory][subsubcategory].group
            )
          )
        }
      }
      return factors
    },
    electricityFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(ELECTRICITY_FACTORS)) {
        factors.push(
          new EmissionFactor(
            ELECTRICITY_FACTORS[subcategory].decomposition,
            Modules.ELECTRICITY,
            subcategory,
            null,
            ELECTRICITY_FACTORS[subcategory].description_FR,
            ELECTRICITY_FACTORS[subcategory].description_EN,
            ELECTRICITY_FACTORS[subcategory].unit,
            ELECTRICITY_FACTORS[subcategory].group
          )
        )
      }
      return factors
    },
    refrigerantsFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(REFRIGERANTS_FACTORS)) {
        factors.push(
          new EmissionFactor(
            REFRIGERANTS_FACTORS[subcategory].decomposition,
            Modules.REFRIGERANTS,
            REFRIGERANTS_FACTORS[subcategory].description_FR,
            null,
            REFRIGERANTS_FACTORS[subcategory].description_FR,
            REFRIGERANTS_FACTORS[subcategory].description_EN,
            REFRIGERANTS_FACTORS[subcategory].unit,
            REFRIGERANTS_FACTORS[subcategory].group
          )
        )
      }
      return factors
    },
    waterFactors: function () {
      return [new EmissionFactor(
        WATER_FACTORS.decomposition,
        Modules.WATER,
        WATER_FACTORS.description_FR,
        null,
        WATER_FACTORS.description_FR,
        WATER_FACTORS.description_EN,
        WATER_FACTORS.unit,
        WATER_FACTORS.group
      )]
    },
    constructionFactors: function () {
      return [new EmissionFactor(
        CONSTRUCTION_FACTORS.decomposition,
        Modules.CONSTRUCTION,
        CONSTRUCTION_FACTORS.description_FR,
        null,
        CONSTRUCTION_FACTORS.description_FR,
        CONSTRUCTION_FACTORS.description_EN,
        CONSTRUCTION_FACTORS.unit,
        CONSTRUCTION_FACTORS.group
      )]
    },
    purchasesFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(PURCHASES_FACTORS)) {
        factors.push(
          new EmissionFactor(
            PURCHASES_FACTORS[subcategory].decomposition,
            Modules.PURCHASES,
            PURCHASES_FACTORS[subcategory].category,
            subcategory.toUpperCase(),
            PURCHASES_FACTORS[subcategory].description_FR,
            PURCHASES_FACTORS[subcategory].description_FR,
            PURCHASES_FACTORS[subcategory].unit,
            PURCHASES_FACTORS[subcategory].group
          )
        )
      }
      return factors
    },
    ractivitiesFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(RACTIVITIES_FACTORS)) {
        for (let subsubcategory of Object.keys(RACTIVITIES_FACTORS[subcategory])) {
          for (let subsubsubcategory of Object.keys(RACTIVITIES_FACTORS[subcategory][subsubcategory])) {
            factors.push(
              new EmissionFactor(
                RACTIVITIES_FACTORS[subcategory][subsubcategory][subsubsubcategory].decomposition,
                subcategory,
                subsubcategory,
                subsubsubcategory,
                RACTIVITIES_FACTORS[subcategory][subsubcategory][subsubsubcategory].description_FR,
                RACTIVITIES_FACTORS[subcategory][subsubcategory][subsubsubcategory].description_EN,
                RACTIVITIES_FACTORS[subcategory][subsubcategory][subsubsubcategory].unit,
                RACTIVITIES_FACTORS[subcategory][subsubcategory][subsubsubcategory].group
              )
            )
          }
        }
      }
      return factors
    },
    foodsFactors: function () {
      let factors = []
      for (let subcategory of Object.keys(FOOD_FACTORS)) {
        factors.push(
          new EmissionFactor(
            FOOD_FACTORS[subcategory].decomposition,
            Modules.FOODS,
            FOOD_FACTORS[subcategory].description_FR,
            null,
            FOOD_FACTORS[subcategory].description_FR,
            FOOD_FACTORS[subcategory].description_EN,
            FOOD_FACTORS[subcategory].unit,
            FOOD_FACTORS[subcategory].group
          )
        )
      }
      return factors
    }
  },
  methods: {
    csvExport () {
      let fname = this.moduleToExport + 'Factors'
      let self = this
      let csvContent = [
        ['category', 'subcategory', 'subsubcategory', 'unit', 'name',
          'year', 'co2', 'ch4', 'n2o', 'others', 'total',
          'uncertainty', 'ef.unit'].join('\t'),
        ...this[fname].map(function (item) {
          let cfactor = item.getFactor()
          let toReturn = self.$t(item.category) + '\t' + self.$t(item.subcategory) + '\t'
          toReturn += self.$t(item.subsubcategory) + '\t' + self.$t(item.unit) + '\t'
          if (self.$i18n.locale === 'fr') {
            toReturn += item.descriptionFR + '\t'
          } else {
            toReturn += item.descriptionEN + '\t'
          }
          toReturn += item.getYear() + '\t' + cfactor.total.co2 + '\t'
          toReturn += cfactor.total.ch4 + '\t' + cfactor.total.n2o + '\t'
          toReturn += cfactor.total.others + '\t' + cfactor.total.total + '\t'
          toReturn += cfactor.total.uncertainty + '\t' + self.$t('kg.co2e') + '/' + self.$t(item.unit)
          return toReturn
        })
      ]
        .join('\n')
        .replace(/(^\[)|(\]$)/gm, '')
      createExportFile(csvContent, this.moduleToExport + '_factors')
    }
  }
}
</script>

<style>
.overflowcontent {
  position:absolute;
  left:0;
  right:0;
  overflow-y:auto;
  overflow-x:hidden;
  height:560px;
  margin-top:30px;
}
</style>
