<i18n>
{
  "fr": {
    "title": "Forum",
    "text-1": "Pour trouver de l'aide et poser des questions sur l'établissement de votre BGES, vous pouvez rejoindre le <a target='_blank' class='link' href='https://team.picasoft.net/labos-1point5/channels/ges-1point5'> forum</a> de la communauté <em>GES 1point5</em> en suivant ce <a target='_blank' class='link' href='https://team.picasoft.net/signup_user_complete/?id=6r7cx4f1ufbu3n7ie95fytod3y'>lien d'invitation</a>."
  },
  "en": {
    "title": "Discussion forum",
    "text-1": "In order to get help and ask questions about the construction of your GHGI, you may join the <a target='_blank' class='link' href='https://team.picasoft.net/labos-1point5/channels/ges-1point5'> discussion forum</a> of the <em>GES 1point5</em> community by clicking on this <a target='_blank' class='link' href='https://team.picasoft.net/signup_user_complete/?id=6r7cx4f1ufbu3n7ie95fytod3y'>link</a>"
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'weixin'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p v-html="$t('text-1')" />
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'Forum',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>
