<i18n>
{
  "fr": {
    "tab-actions": "Actions",
    "tab-plans": "Plans"
  },
  "en": {}
}
</i18n>
<template>
  <div>
    <review-actions></review-actions>
  </div>
</template>

<script>
import { Background } from '@/mixins/background.js'
import transitionService from '@/services/transitionService.js'
import {
  PublicAction,
  insertOrUpdateInList
} from '@/models/transition/transition.js'

export default {
  name: 'Transition1point5Review',
  components: {
    'review-actions': () => import('./ReviewActions.vue')
  },
  mixins: [Background],
  data () {
    return {
      erreur: null,
      actions: [],
      // hold the currentAction for creation/update
      currentAction: new PublicAction(),
      currentLab: {},
      // whether we have to display the creation/update modal
      displayModal: false,
      currentQuota: 0,
      currentMaxQuota: 0
    }
  },
  watch: {},
  methods: {
    closeModal () {
      this.displayModal = false
    },
    confirmPublish (action) {
      this.$buefy.dialog.confirm({
        title: this.$t('confirm-title'),
        message: this.$t('ask-publish'),
        confirmText: this.$t('validate'),
        cancelText: this.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: () => this.publish(action)
      })
    },
    assignAction (action) {
      this.bgUI(async () => {
        let data = await transitionService.reviewerAssignAction(action.id)
        let newAction = PublicAction.fromDatabase(data)
        insertOrUpdateInList(this.actions, newAction)
      })
    },
    publish (action) {
      this.bgUI(async () => {
        let data = await transitionService.reviewerTogglePublishAction(
          action.id
        )
        let newAction = PublicAction.fromDatabase(data)
        insertOrUpdateInList(this.actions, newAction)
      })
    },
    /**
     * Open in a new tab
     * so that reviewer can review several actions in a row
     *
     * @param {} action
     */

    reviewAction (action) {
      let route = this.$router.resolve({
        path: `/transition-1point5/reviewer/actions/${action.id}`
      })
      window.open(route.href, '_blank')
    }
  },
  mounted () {
    this.bgUI(async () => {
      let data = await transitionService.reviewerGetActions()
      this.actions = data.map((d) => PublicAction.fromDatabase(d))
    })
  }
}
</script>
