<i18n>
{
  "fr": {
    "text-em-1": "Emission d’un véhicule exploité par le labo",
    "text-1": " = quantité annuelle consommée de la source d’énergie utilisée * facteur d’émission de la source concernée.",
    "text-2": "Pour chaque type de véhicule et sa source d’énergie associée, la quantité annuelle consommée est exprimée soit en km parcourus, soit en heures de vol, soit en litres consommés, soit en jours-mer.",
    "text-em-2": "Emissions d’un avion léger utilisé dans les missions aéroportées du labo",
    "text-3": " = FE du carburant * nb heures annuelles de vol * consommation horaire.",
    "text-4": "Consommation horaire de l’avion = 0.22 * Puissance totale + 0.54",
    "text-5": "La formule de calcul de la consommation horaire provient d’une régression linéaire (Cf. figure ci-dessous) qui lie les 2 variables avec un r2 de 0,95.",
    "text-em-3": "Emissions d’un hélicoptère utilisé dans les missions aéroportées du labo",
    "text-6": " = FE du carburant * nb heures annuelles de vols * nb de moteurs * 3600 * consommation par seconde du carburant considéré* facteur de conversion des kg en litres de carburant",
    "text-7": "Facteur de conversion de kg en litres d’essence aviation",
    "text-8": "Facteur de conversion de kg en litres de kérosène - jet A1",
    "text-9": "Calcul de la consommation par seconde de carburant (Fuel flow) selon le type d’hélicoptère et du Shaft Power (SHP) Source : ",
    "text-span-1": "max SHP : saisie par l’utilisateur",
    "text-span-2": "MOPE (Mean Operating Power per Engine) :",
    "text-span-3": "si hélicoptère moteur à pistons, MOPE = 90%",
    "text-span-4": "si hélicoptère 1 seul moteur à turbines, MOPE = 80%",
    "text-span-5": "si hélicoptère 2 moteurs à turbine et max SHP d’un moteur > 1000 CV, MOPE = 62%",
    "text-span-6": "si hélicoptères 2 moteurs à turbine et max SHP d’un moteur ≤ 1000 CV, MOPE = 65 %",
    "text-10": "Consommation d’essence avion par seconde (Fuel flow) pour les moteurs à piston :",
    "text-11": "Conso de kérosène jetA1 par seconde (Fuel flow) pour les moteurs à turbines, en fonction de la puissance SHP :",
    "text-pre-1": "Si SHP est > 1000 CV :",
    "text-pre-2": "Si 600 &lt; SHP ≤ 1000 CV :",
    "text-pre-3": "Si SHP ≤ 600 CV :"
  },
  "en": {
    "text-em-1": "Emissions from a vehicle operated by the lab",
    "text-1": " = annual quantity consumed of the energy source used * emission factor of the source concerned.",
    "text-2": "For each type of vehicle and its associated energy source, the annual quantity consumed is expressed either in km travelled, or in flight hours, or in litres consumed, or in sea days.",
    "text-em-2": "Emissions of a light aircraft used in airborne trips of the lab",
    "text-3": " = EF of fuel * no of annual flight hours * hourly consumption.",
    "text-4": "Hourly consumption of the aircraft = 0.22 * Total power + 0.54",
    "text-5": "The formula for calculating the hourly consumption comes from a linear regression (see figure below) which links the two variables with an R2 of 0.95.",
    "text-em-3": "Emissions of a helicopter used in airborne trips of the lab",
    "text-6": " = EF of the fuel * no of annual flight hours * no of engines * 3600 * consumption per second of the considered fuel * conversion factor of kg to litres of fuel",
    "text-7": "Conversion factor from kg to litres of aviation fuel",
    "text-8": "Conversion factor from kg to litres of paraffin - A1 jet",
    "text-9": "Calculation of fuel flow per second by helicopter type and Shaft Power (SHP) Source:",
    "text-span-1": "max SHP: user input",
    "text-span-2": "MOPE (Mean Operating Power per Engine):",
    "text-span-3": "if piston engine helicopter, MOPE = 90%",
    "text-span-4": "if helicopter with 1 single turbine engine, MOPE = 80%",
    "text-span-5": "if helicopter with 2 turbine engines and max HPS of one engine > 1000 HP, MOPE = 62%",
    "text-span-6": "if helicopter with 2 turbine engines and max HPS of one engine ≤ 1000 HP, MOPE = 65%",
    "text-10": "Aircraft fuel consumption per second (Fuel flow) for piston engines:",
    "text-11": "Jet A1 fuel consumption per second (Fuel flow) for turbine engines, depending on the SHP power:",
    "text-pre-1": "If SHP > 1000 HP:",
    "text-pre-2": "If 600 &lt; SHP ≤ 1000 HP:",
    "text-pre-3": "If SHP ≤ 600 HP:"
  }
}
</i18n>

<template>
  <b-notification :closable="false">
    <em>{{ $t('text-em-1') }}</em>{{ $t('text-1') }}<br />
    {{ $t('text-2') }}<br /><br />
    <em>{{ $t('text-em-2') }}</em>{{ $t('text-3') }}<br/>{{ $t('text-4') }}<br/>
    {{ $t('text-5') }}<br />
    <img src="@/assets/images/geshelp/doc_methodecalcul_consohoraire.png" style="padding-left:25px;max-width:70%"/>
    <br /><br />
    <em>{{ $t('text-em-3') }}</em>{{ $t('text-6') }}<br/>
    {{ $t('text-7') }}
    (<a class="link" target="_blank" href="https://vfrg.casa.gov.au/general/conversions/distance-volume-and-mass/">source</a>) : 1,39<br/>
    {{ $t('text-8') }}
    (<a class="link" target="_blank" href="http://www.bp.com.au/products/aviation/news/BPJETA1.PDF">source</a>) : 1,25<br/><br/>
    {{ $t('text-9') }}Rindlisbacher, T., Chabbey L., 2015. Guidance on the Determination of Helicopter Emissions, Edition 2,
    Confédération suisse, ref. COO.2207.111.2.2015750<br/>
    SHP = max SHP * MOPE<br/>
    <span style="margin-left:10px">{{ $t('text-span-1') }}<br/></span>
    <span style="margin-left:10px">{{ $t('text-span-2') }}<br/></span>
    <span style="margin-left:20px">{{ $t('text-span-3') }}<br/></span>
    <span style="margin-left:20px">{{ $t('text-span-4') }}<br/></span>
    <span style="margin-left:20px">{{ $t('text-span-5') }}<br/></span>
    <span style="margin-left:20px">{{ $t('text-span-6') }}<br/><br/></span>
    {{ $t('text-10') }}<br/>
    <pre>Fuel flow &asymp; 1.9*10<sup>-12</sup> * SHP<sup>4</sup> - 10<sup>-9</sup> * SHP<sup>3</sup> + 2.6*10<sup>-7</sup> * SHP<sup>2</sup> + 4*10<sup>-5</sup> * SHP + 6*10<sup>-4</sup></pre>
    {{ $t('text-11') }}<br/>
    <pre>
{{ $t('text-pre-1') }}
Fuel flow &asymp; 4.0539*10<sup>-18</sup> * SHP<sup>5</sup> - 3.16298*10<sup>-14</sup> * SHP<sup>4</sup> + 9.2087*10<sup>-11</sup> * SHP<sup>3</sup> -
      1.2156*10<sup>-7</sup> * SHP<sup>2</sup> + 1.1476*10<sup>-4</sup> * SHP + 0.01256
<span v-html="$t('text-pre-2')" />
Fuel flow &asymp; 3.3158*10<sup>-16</sup> * SHP<sup>5</sup> - 1.01750*10<sup>-12</sup> * SHP<sup>4</sup> + 1.1627*10<sup>-9</sup> * SHP<sup>3</sup> -
      5.9528*10<sup>-7</sup> * SHP<sup>2</sup> + 1.8168*10<sup>-4</sup> * SHP + 6.2945*10<sup>-3</sup>
{{ $t('text-pre-3') }}
Fuel flow &asymp; 2.1970*10<sup>-15</sup> * SHP<sup>5</sup> - 4.44410*10<sup>-12</sup> * SHP<sup>4</sup> + 3.4208*10<sup>-9</sup> * SHP<sup>3</sup> -
      1.2138*10<sup>-6</sup> * SHP<sup>2</sup> + 2.4140*10<sup>-4</sup> * SHP + 4.583*10<sup>-3</sup></pre>
  </b-notification>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
