<i18n>
{
  "fr": {
    "no-vehicle": "Aucun véhicule",
    "delete-msg": "Êtes vous sûr de vouloir supprimer le véhicule",
    "hours": "heures",
    "label-1": "Validité",
    "label-2": "Valide",
    "label-3": "Non valide"
  },
  "en": {
    "no-vehicle": "No vehicle",
    "delete-msg": "Are you sure you want to delete the vehicle?",
    "hours": "hours",
    "label-1": "Validity",
    "label-2": "Valid",
    "label-3": "Invalid"
  }
}
</i18n>

<template>
    <b-table
      :data="vehicles"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="20"
      default-sort="score"
      default-sort-direction="desc"
    >
      <b-table-column
        :label="$t('label-1')"
        field="score"
        sortable
        :custom-sort="sortValid"
        centered
        v-slot="props"
      >
        <b-tag rounded v-if="props.row.score===1" type="is-success">{{ $t('label-2') }}</b-tag>
        <b-tag rounded v-else-if="props.row.score===2" type="is-warning">{{ $t('incomplete') }}</b-tag>
        <b-tag rounded v-else-if="props.row.score===3" type="is-danger">{{ $t('label-3') }}</b-tag>
      </b-table-column>
      <b-table-column
        :label="$t('id')"
        field="name"
        sortable
        v-slot="props"
      >
        {{ props.row.name }}
      </b-table-column>
      <b-table-column
        :label="$t('type')"
        field="type"
        sortable
        :custom-sort="sortType"
        v-slot="props"
      >
        <b-icon
          :pack="typeIconPack(props.row.type)"
          :icon="typeIcon(props.row.type)"
          style="padding-right: 20px"
        /> {{ $t(props.row.type) }}
      </b-table-column>
      <b-table-column
        :label="$t('engine')"
        field="engine"
        sortable
        v-slot="props"
      >
        <span :class="{ warning: (props.row.engine === 'unknown.engine' && props.row.type !== 'car') }" >
          {{ $t(props.row.engine) }}
        </span>
      </b-table-column>
      <b-table-column
        :label="$t('consumption')"
        field="unit"
        numeric
        sortable
        :custom-sort="sortConsumption"
        v-slot="props"
      >
        <span :class="type(props.row.getConsumption())">
          {{ Math.round(props.row.getConsumption()) | splitNumber }}
        </span>
        <span :class="type(props.row.getConsumption())">({{ props.row.unit }})</span>
      </b-table-column>
      <b-table-column width="120" v-slot="props">
        <div class="panel-block">
          <b-tooltip
            v-if="submitted"
            :label="$t('display')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="search"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            v-else
            :label="$t('edit')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="pencil"
              @click="edit(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('delete')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="trash"
              :disabled="submitted"
              @click="del(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="fa fa-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('no-vehicle') }}</p>
        </div>
      </section>
    </b-table>
</template>

<script>
import Vehicle from '@/models/carbon/Vehicle.js'
import Modules from '@/models/Modules.js'
import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Table',
  setup () {
    const ghgiStore = useGHGIStore()
    return { ghgiStore }
  },
  computed: {
    vehicles: function () {
      return this.ghgiStore.items(Modules.VEHICLES)
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.vehicles
    }
  },
  methods: {
    typeIcon: function (type) {
      return Vehicle.getIcon(type)
    },
    typeIconPack: function (type) {
      return Vehicle.getIconPack(type)
    },
    edit: function (vehicle) {
      this.$emit('edit', vehicle)
    },
    del: function (vehicle) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('delete') + ' "' + vehicle.name + '"',
        message: self.$t('delete-msg') + ' <b>' + vehicle.name + '</br>?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.ghgiStore.deleteItem({
            module: Modules.VEHICLES,
            item: vehicle
          })
          self.$emit('delete')
        }
      })
    },
    type: function (value) {
      const number = parseFloat(value)
      if (number === 0) {
        return 'warning'
      } else {
        return null
      }
    },
    sortStr (a, b, isAsc) {
      if (isAsc) {
        return a.localeCompare(b)
      } else {
        return b.localeCompare(a)
      }
    },
    sortStrToNum (a, b, isAsc) {
      if (isAsc) {
        return Number(a) - Number(b)
      } else {
        return Number(b) - Number(a)
      }
    },
    sortValid (a, b, isAsc) {
      return this.sortStrToNum(a.score, b.score, isAsc)
    },
    sortType (a, b, isAsc) {
      return this.sortStr(this.$t(a.type), this.$t(b.type), isAsc)
    },
    sortConsumption (a, b, isAsc) {
      return this.sortStrToNum(a.getConsumption(), b.getConsumption(), isAsc)
    }
  }
}
</script>

<style>
.table td {
  vertical-align: middle !important;
}
span.warning {
  color: hsl(348, 100%, 61%);
}
</style>
