<i18n>
{
  "fr": {
    "label-1": "La documentation",
    "label-2": "La méthodologie",
    "label-3": "Présentation",
    "label-4": "Facteurs d'émissions (FE)",
    "label-5": "Mise à jour des FE",
    "label-6": "Méthodes de calculs",
    "label-7": "Bilan Carbone©",
    "label-8": "Aide",
    "label-9": "Notes",
    "label-10": "Mode d'emploi",
    "label-12": "Fichier Missions",
    "label-13": "Protection des données",
    "label-14": "L'équipe",
    "label-15": "L'équipe de développement",
    "label-16": "Remerciements",
    "label-17": "Les données",
    "label-18": "Introduction",
    "label-19": "Le périmètre",
    "label-20": "Les bâtiments",
    "label-21": "Matériel informatique",
    "label-22": "Les véhicules",
    "label-23": "Les missions",
    "label-24": "Dpts domicile / travail",
    "label-25": "Bilan réglementaire",
    "label-26": "Empreinte carbone & soumission",
    "label-27": "Soumission des données",
    "label-28": "Les résultats",
    "label-29": "Les Achats",
    "label-30": "Fichier achats",
    "label-30-1": "Webinaires",
    "label-31": "Les données",
    "label-32": "BGES",
    "label-33": "Ajouter un BGES",
    "label-34": "Fichiers bâtiments",
    "label-35": "Retour à la liste des BGES",
    "submit-tooltip": "module(s) soumis sur"
  },
  "en": {
    "label-1": "Documentation",
    "label-2": "Methodology",
    "label-3": "Presentation",
    "label-4": "Emission factors (EF)",
    "label-5": "EF update",
    "label-6": "Calculation methods",
    "label-7": "Bilan Carbone©",
    "label-8": "Help",
    "label-9": "Notes",
    "label-10": "User guide",
    "label-12": "Business trip files",
    "label-13": "Data protection",
    "label-14": "The team",
    "label-15": "The development team",
    "label-16": "Acknowledgments",
    "label-17": "Data",
    "label-18": "Introduction",
    "label-19": "Boundaries",
    "label-20": "Buildings",
    "label-21": "Digital devices",
    "label-22": "Vehicles",
    "label-23": "Business travel",
    "label-24": "Commuting",
    "label-25": "Regulatory inventory",
    "label-26": "Carbon footprint & submission",
    "label-27": "Data submission",
    "label-28": "Results",
    "label-29": "Purchases",
    "label-30": "Purchases file",
    "label-30-1": "Webinars",
    "label-31": "Datasets",
    "label-32": "GHGI",
    "label-33": "Add a GHGI",
    "label-34": "Buildings file",
    "label-35": "Back to GHGIs list",
    "submit-tooltip": "sumbitted module(s) on"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <b-field v-if="authStore.isAuthenticated && routeParam && activeModule!='emissions-factors'">
              <div class="control is-expanded is-clearfix">
                <b-dropdown
                  :expanded="true"
                  aria-role="list"
                >
                  <template #trigger="{ active }">
                    <b-button
                      expanded
                      :label="buttonLabel"
                      type="is-primary"
                      :icon-left="buttonIcon"
                      :icon-right="active ? 'caret-up' : 'caret-down'"
                    />
                  </template>
                  <b-dropdown-item
                    v-for="ghgi in adminStore.allGHGI" :key="ghgi.id"
                    aria-role="listitem"
                    @click="loadGHGI(ghgi.id)"
                  >
                    <b-icon icon="calendar" /> {{ $t('label-32') }} {{ ghgi.year }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    aria-role="listitem"
                    @click="createGHGI()"
                  >
                    <b-icon icon="plus" /> {{ $t('label-33') }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    aria-role="listitem"
                    @click="backToAdmin()"
                  >
                    <b-icon icon="chevron-left" /> {{ $t('label-35') }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </b-field>
            <b-menu>
              <b-menu-list :label="$t('label-1')" v-if="activeModule=='emissions-factors'">
                <b-menu-item
                  class="menubackitem"
                  @click="activate('methodology')"
                  :active="activeModule==='methodology'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item" style="color:#fff">
                          <b-icon icon="arrow-left"></b-icon>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('label-1')" v-if="activeModule!='emissions-factors'">
                <b-menu-item
                  :active="activeModule==='methodology'||activeModule==='calculating-methods'||activeModule==='update-emissions-factors'||activeModule==='emissions-factors'||activeModule==='ademe-diff'"
                  :expanded="activeModule==='methodology'||activeModule==='calculating-methods'||activeModule==='update-emissions-factors'||activeModule==='emissions-factors'||activeModule==='ademe-diff'"
                  @click="activate('methodology')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="book"></b-icon>
                    {{ $t('label-2') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='methodology'"
                    @click="activate('methodology')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="info"></b-icon>
                            {{ $t('label-3') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    @click="activate('emissions-factors')"
                    :active="activeModule==='emissions-factors'"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="cloud"></b-icon>
                            {{ $t('label-4') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    @click="activate('update-emissions-factors')"
                    :active="activeModule==='update-emissions-factors'"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="refresh"></b-icon>
                            {{ $t('label-5') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    @click="activate('calculating-methods')"
                    :active="activeModule==='calculating-methods'"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="cog"></b-icon>
                            {{ $t('label-6') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='ademe-diff'"
                    @click="activate('ademe-diff')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="chain-broken"></b-icon>
                            {{ $t('label-7') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='notes'||activeModule==='manual'||activeModule==='webinar'||activeModule==='ges-data'"
                  :expanded="activeModule==='notes'||activeModule==='manual'||activeModule==='webinar'||activeModule==='ges-data'"
                  @click="activate('notes')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="life-ring"></b-icon>
                    {{ $t('label-8') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='notes'"
                    @click="activate('notes')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="warning"></b-icon>
                            {{ $t('label-9') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='ges-data'"
                    @click="activate('ges-data')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="table"></b-icon>
                            {{ $t('label-31') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='manual'"
                    @click="activate('manual')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="book"></b-icon>
                            {{ $t('label-10') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='webinar'"
                    @click="activate('webinar')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="play-circle-o"></b-icon>
                            {{ $t('label-30-1') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  @click="activate('data-protection')"
                  :active="activeModule==='data-protection'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="shield"></b-icon>
                          {{ $t('label-13') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='team'||activeModule==='thanks'"
                  :expanded="activeModule==='team'||activeModule==='thanks'"
                  @click="activate('team')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="users"></b-icon>
                    {{ $t('label-14') }} <em>GES 1point5</em>
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='team'"
                    @click="activate('team')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="keyboard-o"></b-icon>
                            {{ $t('label-15') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='thanks'"
                    @click="activate('thanks')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="thumbs-o-up"></b-icon>
                            {{ $t('label-16') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('label-17')" v-if="activeModule!='emissions-factors'">
                <b-menu-item
                  @click="activate('introduction')"
                  :active="activeModule==='introduction'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="info"></b-icon>
                          {{ $t('label-18') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('boundaries')"
                  :active="activeModule==='boundaries'"
                  :disabled="boundariesIsDisabled"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="square"></b-icon>
                          {{ $t('label-19') }}
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item">
                          <b-tag
                            v-show="flags.boundaries.isValid|flags.boundaries.isModified"
                            :type="tagType(flags.boundaries.isModified)"
                            rounded
                          >
                            <b-icon :icon="validSavedIcon" />
                          </b-tag>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  v-for="(module, index) in modules"
                  :key="index"
                  @click="activate(module)"
                  :active="activeModule===module"
                  :disabled="dataIsDisabled"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon :icon="getIcon(module)"></b-icon>
                          {{ $t(module) }}
                        </div>
                      </div>
                      <div class="level-right">
                        <div class="level-item">
                          <b-tag
                            v-if="module==='ractivities'"
                            rounded
                            type="is-success"
                          >
                            {{ $t('new') }}
                          </b-tag>
                          <b-tag rounded :type="tagType(flags[module].isModified)" v-if="flags[module].isValid">
                            <b-icon :icon="validSavedIcon"></b-icon>
                          </b-tag>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('label-28')" v-if="activeModule!='emissions-factors'">
                <b-menu-item
                  @click="activate('ghg-protocol')"
                  :active="activeModule==='ghg-protocol'"
                  :disabled="reglementaireIsDisabled"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="dot-circle-o"></b-icon>
                          {{ $t('ghg-protocol') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('regulatory-inventory')"
                  :active="activeModule==='regulatory-inventory'"
                  :disabled="reglementaireIsDisabled"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="bank"></b-icon>
                          {{ $t('label-25') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('carbon-footprint-synthesis')"
                  :active="activeModule==='carbon-footprint-synthesis'"
                  :disabled="reglementaireIsDisabled"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="paw"></b-icon>
                          {{ $t('label-26') }}
                        </div>
                      </div>
                      <div
                        v-if="authStore.isAuthenticated"
                        class="level-right"
                      >
                        <div class="level-item">
                          <b-tooltip
                            size="is-large"
                            type="is-black"
                            :label="submitTooltip"
                            append-to-body
                          >
                            <b-tag
                              rounded
                              :type="nsubmitted > 0 ? 'is-success' : 'is-danger'"
                            >
                              {{ nsubmitted }}
                            </b-tag>
                          </b-tooltip>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <!-- Documentation -->
            <methodology v-if="activeModule==='methodology'"/>
            <ademe-diff v-if="activeModule==='ademe-diff'"/>
            <notes :header="true" v-if="activeModule==='notes'"/>
            <ges-data v-if="activeModule==='ges-data'"/>
            <manual :header="true" v-if="activeModule==='manual'"/>
            <calculating-methods v-if="activeModule==='calculating-methods'"/>
            <emissions-factors v-if="activeModule==='emissions-factors'"/>
            <update-emissions-factors v-if="activeModule==='update-emissions-factors'"/>
            <webinar :header="true" v-if="activeModule==='webinar'"/>
            <data-protection v-if="activeModule==='data-protection'"/>
            <team v-if="activeModule==='team'"/>
            <thanks v-if="activeModule==='thanks'"/>

            <!-- Data -->
            <introduction
              v-if="activeModule==='introduction'"
              :module="flags.introduction"
              @invalid="invalidateIntroduction"
              @valid="validateIntroduction"
            />
            <boundaries
              v-if="activeModule==='boundaries'"
              :module="flags.boundaries"
              @is-valid="val => flags.boundaries.isValid = val"
              @is-modified="val => flags.boundaries.isModified = val"
            />
            <component
              v-for="(module, index) in modules"
              :key="index"
              :is="module"
              :ref="module"
              v-show="activeModule===module"
              :module="flags[module]"
              @is-valid="val => updateValid(val, module)"
              @is-modified="val => updateModified(val, module)"
            />

            <!-- Results -->
            <ghg-protocol v-if="activeModule==='ghg-protocol'"/>
            <regulatory-inventory v-if="activeModule==='regulatory-inventory'"/>
            <carbon-footprint-synthesis v-if="activeModule==='carbon-footprint-synthesis'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Modules from '@/models/Modules.js'
import Vue from 'vue'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'GES1point5',
  components: {
    'methodology': () => import('@/components/carbon/docs/Methodology.vue'),
    'notes': () => import('@/components/carbon/docs/Notes.vue'),
    'manual': () => import('@/components/carbon/docs/HelpManual.vue'),
    'calculating-methods': () => import('@/components/carbon/docs/HelpCalculatingMethods.vue'),
    'emissions-factors': () => import('@/components/carbon/docs/EmissionsFactors.vue'),
    'update-emissions-factors': () => import('@/components/carbon/docs/UpdateEmissionsFactors.vue'),
    'webinar': () => import('@/components/carbon/docs/Webinar.vue'),
    'data-protection': () => import('@/components/carbon/docs/DataProtection.vue'),
    'ges-data': () => import('@/components/carbon/docs/HelpData.vue'),
    'ademe-diff': () => import('@/components/carbon/docs/ADEMEDiff.vue'),
    'team': () => import('@/components/carbon/docs/Team.vue'),
    'thanks': () => import('@/components/carbon/docs/Thanks.vue'),
    'introduction': () => import('@/components/carbon/forms/Introduction.vue'),
    'boundaries': () => import('@/components/carbon/forms/Boundaries.vue'),
    'ghg-protocol': () => import('@/components/carbon/results/GHGProtocol.vue'),
    'regulatory-inventory': () => import('@/components/carbon/results/RegulatoryInventory.vue'),
    'carbon-footprint-synthesis': () => import('@/components/carbon/results/CarbonFootprintSynthesis.vue')
  },
  data () {
    return {
      isNewGHGI: true,
      hasLaboratory: false,
      activeModule: 'introduction',
      flags: {
        introduction: {
          isValid: false
        },
        boundaries: {
          isValid: false,
          isModified: false
        }
      }
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    const coreStore = useCoreStore()
    return { adminStore, authStore, ghgiStore, coreStore }
  },
  computed: {
    modules: function () {
      return this.coreStore.setting('global', 'ACTIVE_MODULES').value
    },
    nsubmitted: function () {
      let nsubmitted = 0
      for (let module of this.coreStore.activeModules(true)) {
        if (this.ghgiStore.item.submitted[module]) {
          nsubmitted += 1
        }
      }
      return nsubmitted
    },
    submitTooltip: function () {
      let tooltip = this.nsubmitted + ' ' + this.$t('submit-tooltip')
      tooltip += ' ' + this.coreStore.activeModules(true).length
      return tooltip
    },
    ghgiYear: function () {
      return this.ghgiStore.item.year
    },
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    buttonLabel: function () {
      if (this.ghgiYear) {
        return this.$t('label-32') + ' ' + this.ghgiYear
      } else {
        return this.$t('label-33')
      }
    },
    buttonIcon: function () {
      if (this.ghgiYear) {
        return 'calendar'
      } else {
        return 'plus'
      }
    },
    routeParam: function () {
      return this.$route.params.id
    },
    dataIsDisabled: function () {
      let isDisabled = false
      if (this.flags.introduction.isValid) {
        isDisabled = !this.flags.boundaries.isValid && !this.flags.boundaries.isModified
      } else {
        isDisabled = true
      }
      return isDisabled
    },
    boundariesIsDisabled: function () {
      let isDisabled = true
      if (this.authStore.isAuthenticated && this.hasLaboratory && !this.isNewGHGI) {
        isDisabled = false
      } else if (this.authStore.isAuthenticated && this.hasLaboratory && this.flags.introduction.isValid) {
        isDisabled = false
      } else if (!this.authStore.isAuthenticated && this.flags.introduction.isValid) {
        isDisabled = false
      }
      return isDisabled
    },
    reglementaireIsDisabled: function () {
      let disabled = true
      for (let module of this.modules) {
        disabled = disabled && !this.flags[module].isValid
      }
      return disabled
    }
  },
  watch: {
    routeParam: function () {
      this.parameterInitState()
    }
  },
  methods: {
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    updateModified (val, module) {
      this.flags[module].isModified = val
    },
    updateValid (val, module) {
      this.flags[module].isValid = val
    },
    tagType: function (isModified) {
      let tagType = 'is-success'
      if (isModified) {
        tagType = 'is-danger'
      }
      return tagType
    },
    loadGHGI (ghgiID) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.ghgiStore.set(ghgiID)
        .then(data => {
          loadingComponent.close()
          this.$router.push('/ges-1point5/' + ghgiID)
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    },
    backToAdmin () {
      this.ghgiStore.resetGHGI()
      this.$router.push('/administration/all-ghgi')
    },
    createGHGI () {
      this.ghgiStore.resetGHGI()
      this.$router.push('/ges-1point5/0')
    },
    validateIntroduction: function () {
      this.flags.introduction.isValid = true
      if (!this.authStore.isAuthenticated) {
        this.activate('boundaries')
      } else {
        if (this.hasLaboratory) {
          this.activate('boundaries')
        }
      }
    },
    invalidateIntroduction: function () {
      this.flags.introduction.isValid = false
      this.ghgiStore.resetState()
    },
    activate: function (module) {
      this.activeModule = module
      if (module === Modules.PURCHASES) {
        this.$refs[Modules.PURCHASES][0].forceComputation()
      }
    },
    parameterInitState: function () {
      if (this.routeParam) {
        if (this.routeParam === '0') {
          this.activate('introduction')
          this.isNewGHGI = true
          // reset modules state
          this.flags.introduction.isValid = false
          this.flags.boundaries.isValid = false
          this.flags.boundaries.isModified = false
          for (let module of this.modules) {
            this.flags[module].isValid = false
            this.flags[module].isModified = false
          }
        } else {
          this.activate('boundaries')
          this.isNewGHGI = false
          this.flags.introduction.isValid = true
          this.flags.boundaries.isValid = true
          for (let module of this.modules) {
            this.flags[module].isValid = this.ghgiStore.hasItems(module)
          }
        }
      }
    }
  },
  beforeMount () {
    for (let module of this.modules) {
      Vue.set(this.flags, module, {
        isValid: false,
        isModified: false
      })
      Vue.component(
        module,
        // A dynamic import returns a Promise.
        () => import('@/components/carbon/forms/' + module + '/Main.vue')
      )
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getLaboratory()
        .then(data => {
          if (data) {
            this.hasLaboratory = (data.id !== null)
            if (this.hasLaboratory) {
              this.adminStore.getAllGHGIWithoutConsumptions()
                .then(data => {
                  if (this.routeParam) {
                    if (this.routeParam !== '0') {
                      this.ghgiStore.set(parseInt(this.routeParam))
                        .then(data => {
                          loadingComponent.close()
                          this.parameterInitState()
                        })
                    } else {
                      loadingComponent.close()
                      this.parameterInitState()
                    }
                  } else {
                    loadingComponent.close()
                    this.parameterInitState()
                  }
                }).catch((erreur) => {
                  loadingComponent.close()
                })
            }
          } else {
            loadingComponent.close()
          }
        })
        .catch((erreur) => {
          loadingComponent.close()
          this.hasLaboratory = false
        })
    }
  }
}
</script>

<style>
  .menu-list a.is-active {
    background-color: rgba(52, 59, 64, 0.7) !important;
    color: white;
  }
  .menubackitem {
    max-width: 50px;
    border-radius:5px;
    background-color:rgb(70, 128, 223, 1);
  }
  .menubackitem :hover {
    border-radius:5px;
    background-color:rgb(70, 128, 223, 1) !important;
    cursor: pointer;
  }
</style>
