<i18n>
{
  "fr": {
    "info-1": "Un engrais est une <strong>matière organique ou minérale</strong> qui a pour vocation d’apporter des éléments nutritifs aux végétaux, plantations ou cultures céréalières. <br />Ils comblent des carences, accélèrent ou stimulent les croissances dans le but final d’accroitre fortement les rendements quantitatifs ou qualitatifs de ces cultures."
  },
  "en": {
    "info-1": "A fertilizer is an <strong>organic or mineral material</strong> designed to supply nutrients to plants, plantations or cereal crops. <br />They make up for deficiencies, accelerate or stimulate growth, with the ultimate aim of greatly increasing the quantitative or qualitative yields of these crops."
  }
}
</i18n>

<template>
  <div class="columns is-flex is-vcentered">
    <div class="column">
      <b-notification :closable="false">
        <span v-html="$t('info-1')" />
      </b-notification>
    </div>
    <div class="column is-2">
      <img src="@/components/carbon/forms/ractivities/components/fertilisers/image.png">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardHelp'
}
</script>
