<i18n>
{
  "fr": {
    "title-1": "1. Méthodologie",
    "title-1-1": "Facteurs d’émission (FE)",
    "info-1-1": "Les facteurs d'émissions utilisés sont ceux fournis par la <a class='link' target='_blank' href='https://base-empreinte.ademe.fr/'>base empreinte</a> de l'ADEME. Ils comprennent l'impact de la fabrication et de l'épendage de l'engrais.",
    "title-1-2": "Comment la répartition est faite ?",
    "info-1-2": "L'impact de la fabrication de l'engrais est affecté au poste 4.1 du scope 4 du bilan GES réglementaire et au poste 3.1 du scope 3 du GHG Protocol. L'épendage est quant à lui affecté au poste 1.3 du scope 1 du bilan GES réglementaire et du GHG Protocol."
  },
  "en": {
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
      <strong>{{ $t('title-1') }}</strong>
      <br />
      <strong><em>{{ $t('title-1-1') }}</em></strong>
      <br />
      <span v-html="$t('info-1-1')" />
      <br />
      <br />
      <strong><em>{{ $t('title-1-2') }}</em></strong>
      <br />
      <span v-html="$t('info-1-2')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
