<i18n>
{
  "fr": {
    "text": "Liste des activités de recherche du laboratoire, y compris l'utilisation d'infrastructures de recherche. Dans le détail, voici les informations nécessaires pour chaque activité de recherche : <ul style='list-style-type:square;margin-left:25px'><li><strong>Catégorie</strong>: la catégorie est à selectionner depuis l'interface (ex: infrastructure de recherche, activités agricoles, ...)</li><li><strong>Type</strong>: la liste des types proposés est spécifique d'une catégorie définie par l'utilisateur. Il est selectionné par l'utilisateur depuis l'interface (ex: CERN, Calcul GENCI, Astronomie, Utilisation d'engrais, ...)</li><li><strong>Sous-type</strong>: la liste des sous-types proposés est spécifique d'un type définie par l'utilisateur. Il est selectionné par l'utilisateur depuis l'interface (ex: Expérience LHC, Expérience non-LHC pour le CERN, ...) </li><li><strong>Quantité</strong>: la quantité utilisée par le laboratoire. L'unité de mesure dépend de l'activité considérée (ex: nombre d'utilisateurs pour le CERN, quantité en kg d'engrais utilisée, ...). Pour l'astronomie, le nom du laboratoire est demandée afin de déterminer l'utilisation des différentes infrastructures.</li></ul>"
  },
  "en": {
    "text": "TODO"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpData'
}
</script>
