<i18n>
{
  "fr": {
    "title-1": "Les activités de recherche",
    "title-2": "Suppression",
    "info-1": "Certaines données d'activités de recherche ne sont pas valides, continuer va entraîner leur suppression. <br /> Êtes vous sûr de vouloir continuer ?",
    "info-2": "Les activités de recherche peuvent impliquer une pratique hors des murs du laboratoire. Cette pratique peut demander des zones de culture ou d’élevage, de l’expérimentation animale ou l’usage de matériels, d’équipements mis en commun sous différentes appellations : plateformes de recherche, infrastructures de recherche, équipements expérimentaux de taille intermédiaire, flottes, cheptels, animaleries, etc. <br /> Définissez l'ensemble des activités de recherche de votre laboratoire en ",
    "info-3": "Pour proposer l'ajout d'une activité de recherche non prise en compte actuellement et pour laquelle des facteurs d'émissions existent, veuillez <a class='link' href='mailto:contact@labos1point5.org'>nous contacter</a>.",
    "save-msg": "Les informations d'activités de recherche ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>."
  },
  "en": {
    "title-1": "Research activities",
    "title-2": "Delete",
    "info-1": "Some research activities data are not valid. \n <br />Would you like to delete the corresponding research activities?",
    "info-2": "TODO",
    "info-3": "TODO",
    "save-msg": "The data relating to the research activities have been <strong><span style='color:green;'>successfully</span></strong>saved."
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error"/>
    <su-service :icon="'hubzilla'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <div class="content">
        <p>
          <span v-html="$t('info-2')" /> <strong>{{ year }}</strong>.
          <br />
          <br />
          <span v-html="$t('info-3')" />
        </p>
      </div>
    </su-service>
    <br />

    <ractivities-table
      @edit="edit"
      @delete="$emit('is-modified', true)"
    />

    <ractivity-modal
      v-if="ractivity!==null"
      :displayModal="displayModal"
      :ractivity="ractivity"
      :modeCreation="modeCreation"
      @close="closeModal"
      @update="update"
      @add="add"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="!module.isModified"
            type="is-primary"
            @click="validate()"
          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Modules from '@/models/Modules.js'
import { ResearchActivity } from '@/models/carbon/ResearchActivity.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useAuthenticationStore } from '@/stores/authentication.js'

export default {
  name: 'Main',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'ractivity-modal': () => import('@/components/carbon/forms/ractivities/Modal.vue'),
    'ractivities-table': () => import('@/components/carbon/forms/ractivities/Table.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    module: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      modeCreation: false,
      displayModal: false,
      ractivity: null
    }
  },
  setup () {
    const ghgiStore = useGHGIStore()
    const authStore = useAuthenticationStore()
    return { ghgiStore, authStore }
  },
  computed: {
    year: function () {
      return parseInt(this.ghgiStore.item.year)
    },
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.ractivities
    },
    ractivities: function () {
      return this.ghgiStore.items(Modules.RACTIVITIES)
    }
  },
  methods: {
    validate: function () {
      let self = this
      if (this.ghgiStore.invalidItems(Modules.RACTIVITIES).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('title-2'),
          message: self.$t('info-1'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.ghgiStore.deleteInvalidItems(Modules.RACTIVITIES)
            self.subValidate()
          },
          onCancel: function () {
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(Modules.RACTIVITIES)
          .then(data => {
            loadingComponent.close()
            this.$emit('is-valid', this.ractivities.length > 0)
            this.$emit('is-modified', false)
            this.error = ''
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
          })
          .catch((error) => {
            loadingComponent.close()
            this.$emit('is-valid', false)
            this.error = error.response.data
          })
      } else {
        this.$emit('is-valid', this.ractivities.length > 0)
        this.$emit('is-modified', false)
      }
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.ractivity = new ResearchActivity(
        null,
        null,
        null,
        null,
        0
      )
      this.displayModal = true
    },
    closeModal: function () {
      this.displayModal = false
      this.ractivity = null
    },
    add: function (item) {
      this.ghgiStore.addItem({
        module: Modules.RACTIVITIES,
        item: item
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    update: function (obj) {
      this.ghgiStore.updateItem({
        module: Modules.RACTIVITIES,
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    edit: function (item) {
      this.modeCreation = false
      this.ractivity = item
      this.displayModal = true
    }
  }
}
</script>
