<i18n>
{
  "fr": {
    "title": "Suppression",
    "delete-msg": "Êtes vous sûr de vouloir supprimer les activités de recherche sélectionnées",
    "label-1": "Type",
    "label-2": "Sous-type",
    "label-3": "Quantité",
    "label-4": "Unité",
    "label-5": "Aucune activité de recherche",
    "label-6": "Catégorie"
  },
  "en": {
    "title": "Delete",
    "delete-msg": "Are you sure you want to delete the selected research activities?",
    "label-1": "Type",
    "label-2": "Sub-type",
    "label-3": "Amount",
    "label-4": "Unit",
    "label-5": "No research activity",
    "label-6": "Category"
  }
}
</i18n>

<template>
  <b-table
    :data="ractivities"
    ref="table"
    striped
    hoverable
    narrowed
    paginated
    detailed
    custom-detail-row
    :sort-icon="'angle-up'"
    :has-detailed-visible="isGrouped"
    default-sort-direction="desc"
    per-page="20"
    default-sort="score"
  >
    <b-table-column
      :label="$t('label-6')"
      field="category"
      sortable
      v-slot="props"
    >
      {{ $t(props.row.category) }}
    </b-table-column>
    <b-table-column
      :label="$t('label-1')"
      field="type"
      sortable
      v-slot="props"
    >
      {{ $t(props.row.type) }}
    </b-table-column>
    <b-table-column
      :label="$t('label-2')"
      field="subtype"
      v-slot="props"
    >
      {{ getDescription(props.row) }}
    </b-table-column>
    <b-table-column
      :label="$t('label-3')"
      field="amount"
      sortable
      numeric
      :custom-sort="sortAmount"
      v-slot="props"
    >
      {{ formatAmount(props.row.amount) }}
    </b-table-column>
    <b-table-column
      :label="$t('label-4')"
      sortable
      v-slot="props"
    >
      {{ $t(props.row.getUnit()) }}
    </b-table-column>
    <b-table-column width="120" v-slot="props">
      <div class="panel-block">
        <b-tooltip
          :label="$t('edit')"
          type="is-black"
        >
          <b-button
            :disabled="submitted"
            size="is-small"
            icon-left="pencil"
            @click="edit(props.row)"
          />
        </b-tooltip>
        <b-tooltip
          :label="$t('delete')"
          type="is-black"
        >
          <b-button
            size="is-small"
            :disabled="submitted"
            icon-left="trash"
            @click="del(props.row)"
          />
        </b-tooltip>
      </div>
    </b-table-column>
    <template slot="detail" slot-scope="props">
      <tr v-for="(item, index) in props.row.items" :key="Math.floor(Math.random() * 100000000) + index">
        <td></td>
        <td class="has-text-left">{{ $t(item.category) }}</td>
        <td class="has-text-left">{{ $t(item.type) }}</td>
        <!-- <td v-if="index==0" :rowspan="props.row.items.length" colspan="3" style="border-right:1px solid #dbdbdb"></td> -->
        <td class="has-text-left">{{ getDescription(item) }}</td>
        <td class="has-text-right">{{ formatAmount(item.amount) }}</td>
        <td class="has-text-left">{{ $t(item.getUnit()) }}</td>
        <td class="has-text-centered"></td>
      </tr>
    </template>
    <section slot="empty" class="section">
      <div class="content has-text-grey has-text-centered">
        <p>
          <i class="fa fa-ban" style="font-size: 64px;"></i>
        </p>
        <p>{{ $t('label-5') }}</p>
      </div>
    </section>
  </b-table>
</template>

<script>
import Modules from '@/models/Modules.js'
import { researchActivityClass } from '@/models/carbon/ResearchActivity.js'

import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Table',
  data () {
    return {
      checkedRows: []
    }
  },
  computed: {
    ractivities: function () {
      var activities = this.ghgiStore.items(Modules.RACTIVITIES)
      var activitiesConcat = []
      activities.forEach(activity => {
        if (activity.isGrouped) {
          var headerRowIndex = activitiesConcat.map(obj => obj.type).indexOf(activity.type)
          if (headerRowIndex === -1) {
            activitiesConcat.push(researchActivityClass(activity.type).headerRow)
            activitiesConcat[activitiesConcat.length - 1].items.push(activity)
          } else {
            activitiesConcat[headerRowIndex].items.push(activity)
          }
        } else {
          activitiesConcat.push(activity)
        }
      })
      return activitiesConcat
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.ractivities
    }
  },
  setup () {
    const ghgiStore = useGHGIStore()
    return { ghgiStore }
  },
  methods: {
    isGrouped: function (row) {
      return row.isGrouped
    },
    sortAmount: function (a, b, isAsc) {
      if (isAsc) {
        return Number(a.amount) - Number(b.amount)
      } else {
        return Number(b.amount) - Number(a.amount)
      }
    },
    getDescription: function (row) {
      if (row.items.length) {
        var desc = row.items[0].subtype
        for (let i = 1; i <= Math.min(4, row.items.length - 1); i++) {
          desc = desc.concat(', ', row.items[i].subtype)
        }
        desc = desc.concat('...')
        return desc
      } else {
        let cclass = researchActivityClass(row.type)
        return cclass.getDescription(
          row.category,
          row.type,
          row.subtype,
          this.$i18n.locale
        )
      }
    },
    formatAmount: function (amount) {
      if (amount === '-') {
        return ' '
      } else {
        return Number(Number(amount).toFixed(2))
      }
    },
    edit: function (item) {
      this.$emit('edit', item)
    },
    del: function (item) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('title'),
        message: self.$t('delete-msg'),
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.ghgiStore.deleteItem({
            module: Modules.RACTIVITIES,
            item: item
          })
          self.$emit('delete')
        }
      })
    }
  }
}
</script>

<style>
.table td {
  vertical-align: middle !important;
}
</style>
