{% extends 'base.html' %}

{% block content %}
<div class="box-blue">
    Votre mot de passe a été <strong>modifié avec succès</strong> !
    <br />
    Vous pouvez maintenant vous connecter à votre compte avec votre nouveau mot de passe.
</div>
{% endblock %}
