<i18n>
{
  "fr": {
    "tab-1": "Tableau de synthèse (kg eCO2)",
    "title-1": "Soumission des données",
    "title-2": "Soumission impossible",
    "label-1": "Part de l'empreinte totale",
    "label-2": "Empreinte carbone du laboratoire",
    "label-3": "Empreinte carbone <em>per capita</em>",
    "label-4": "Intensité carbone",
    "label-5": "Soumis",
    "tooltip-1": "Les enseignants-chercheurs ont une quotité d’appartenance au labo de 50% ; cela signifie que les émissions qu’ils /elles génèrent par leurs consommations d’énergie liées au chauffage de leur bureau et à l’électricité ne sont imputées au labo qu’à hauteur de 50%, que ces personnes passent 100% du temps dans leur bureau du labo, ou aient un autre bureau ailleurs). Les autres personnes du labo ont une quotité d’appartenance au labo de 100%.",
    "tooltip-2": "La quotité totale du laboratoire est de",
    "tooltip-3": "personnes",
    "tooltip-4": "L'intensité carbone correspond aux émissions par euro de budget dépensé.",
    "post-1": "Empreinte carbone des bâtiments",
    "post-2": "Empreinte carbone du matériel informatique",
    "post-3": "Empreinte carbone des déplacements",
    "post-4": "Déplacements domicile-travail",
    "post-5": "Déplacements professionnels",
    "post-6": "Les véhicules",
    "post-7": "Les missions",
    "post-8": "Empreinte carbone totale",
    "post-9": "Empreinte carbone des achats",
    "post-10": "Empreinte carbone de l'alimentation",
    "post-11": "Empreinte carbone des activités de recherche",
    "error-commutes": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Déplacements domicile / travail »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Vous pouvez réaliser l'enquête empreinte en suivant les instructions dans l'onglet correspondant à ce module.",
    "error-foods": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Alimentation »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Vous pouvez réaliser l'enquête empreinte en suivant les instructions dans l'onglet correspondant à ce module.",
    "error-devices": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Matériel informatique »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire l'inventaire des matériels informatiques afin de les importer dans l'outil.",
    "error-survey": "Veuillez désactiver l'enquête de ce BGES avant de le soumettre.",
    "error-travels": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Les missions »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire un export des missions afin de les importer dans l'outil.",
    "error-heatings": "Les <strong>données de chauffage sont manquantes</strong> pour le <strong>module « Les bâtiments »</strong>. Celles-ci sont <strong>requises</strong> pour la soumission.",
    "error-electricity": "Les <strong>données d'éléctricité sont manquantes</strong> pour le <strong>module « Les bâtiments »</strong>. Celles-ci sont <strong>requises</strong> pour la soumission.",
    "error-water": "Les <strong>données de consommation en eau potable sont manquantes</strong> pour le <strong>module « Les bâtiments »</strong>. Celles-ci sont <strong>requises</strong> pour la soumission.",
    "error-construction": "Certaines <strong>années de construction sont manquantes</strong> pour le <strong>module « Les bâtiments »</strong>. Celles-ci sont <strong>requises</strong> pour la soumission.",
    "error-purchases": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Achats »</strong>. Celui-ci est <strong>requis</strong> pour la soumission. <br /> Veuillez demander à votre gestionnaire un export des achats afin de les importer dans l'outil.",
    "error-ractivities": "<strong>Aucune donnée disponible</strong> pour le <strong>module « Activités de recherche »</strong>. Celui-ci est <strong>requis</strong> pour la soumission.",
    "emission.tco2e": "Emission (t eCO2)",
    "distances.km": "Distances (km)",
    "volumes.day": "Volume (personnes.jour)",
    "cummulated-emission": "Emissions cumulées (%)",
    "modes.emissions": "Modes (t eCO2)",
    "modes.distances": "Modes (km)",
    "purposes.emissions": "Motifs (t eCO2)",
    "purposes.distances": "Motifs (km)",
    "plane-emission": "Emissions de l'aviation",
    "transportation.emissions": "Modes de déplacement",
    "commuting.modes": "Modes de déplacement",
    "carpooling": "Covoiturage",
    "buildings-usage": "Empreinte carbone des usages",
    "construction": "Empreinte carbone des constructions"
  },
  "en": {
    "tab-1": "Overview table (kg CO2e)",
    "title-1": "Data submission",
    "title-2": "Data submission not possible",
    "label-1": "Share of the total footprint",
    "label-2": "Carbon footprint of the laboratory",
    "label-3": "Carbon footprint <em>per capita</em>",
    "label-4": "Carbon intensity",
    "label-5": "Submitted",
    "tooltip-1": "The teaching staff (lecturers, professors) have a  membership ratio of 50%; this means that the emissions they generate through their energy consumption related to office heating and electricity are only attributed to the lab at 50%, whether they spend 100% of their time in their lab office or have another office elsewhere. The other people in the lab have a lab share of 100%.",
    "tooltip-2": "The total member-equivalent count of the laboratory is",
    "tooltip-3": "members",
    "tooltip-4": "The carbon intensity is the ratio of emissions generated by one euro of budget expenditures.",
    "post-1": "Carbon footprint of buildings",
    "post-2": "Carbon footprint of digital devices",
    "post-3": "Carbon footprint of travels",
    "post-4": "Commuting",
    "post-5": "Professional travel",
    "post-6": "Vehicles",
    "post-7": "Business travel",
    "post-8": "Total carbon footprint",
    "post-9": "Carbon footprint of purchases",
    "post-10": "Carbon footprint of foods",
    "post-11": "Carbon footprint of research activities",
    "error-commutes": "<strong>No data available</strong> for the <strong>« Commuting » module</strong>. This module is <strong>required</strong> for data submission. <br /> You can carry out the footprint survey by following the instructions in the tab corresponding to this module.",
    "error-foods": "<strong>No data available</strong> for the <strong>« Food » module</strong>. This module is <strong>required</strong> for data submission. <br /> You can carry out the footprint survey by following the instructions in the tab corresponding to this module.",
    "error-devices": "<strong>No data available</strong> for the <strong>« Digital devices » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the digital devices in order to import them into the tool.",
    "error-survey": "Please deactivate the survey of this GHG inventory before submitting the inventory",
    "error-travels": "<strong>No data available</strong> for the <strong>« Travel » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the trips in order to import them into the tool.",
    "error-heatings": "Some <strong> heating data are missing</strong> for the <strong>« Building » module</strong>. These ones are <strong>required</strong> for data submission.",
    "error-electricity": "Some <strong> electricity data are missing</strong> for the <strong>« Building » module</strong>. These ones are <strong>required</strong> for data submission.",
    "error-water": "Some <strong> drinking water data are missing</strong> for the <strong>« Building » module</strong>. These ones are <strong>required</strong> for data submission.",
    "error-construction": "Some <strong>construction years are missing</strong> for the <strong>« Building » module</strong>. These ones are <strong>required</strong> for data submission.",
    "error-purchases": "<strong>No data available</strong> for the <strong>« Purchase » module</strong>. This module is <strong>required</strong> for data submission. <br /> Please ask your accounting department for an export of the purchases in order to import them into the tool.",
    "error-ractivities": "<strong>No data available</strong> for the <strong>« Research activities » module</strong>. This module is <strong>required</strong> for data submission.",
    "emission.tco2e": "Emission (t CO2e)",
    "distances.km": "Distances (km)",
    "volumes.day": "Volume (person.day)",
    "cummulated-emission": "Cumulative emissions (%)",
    "modes.emissions": "Modes (t CO2e)",
    "modes.distances": "Modes (km)",
    "purposes.emissions": "Purposes (t CO2e)",
    "purposes.distances": "Purposes (km)",
    "plane-emission": "Plane emissions",
    "transportation.emissions": "Travel modes",
    "commuting.modes": "Commuting modes",
    "carpooling": "Carpooling",
    "buildings-usage": "Carbon footprint of usage",
    "construction": "Carbon footprint of constructions"
  }
}
</i18n>

<template>
  <div>
    <b-modal
      :can-cancel="['escape', 'x', 'outside']"
      :active.sync="displayModal"
      has-modal-card
    >
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-1') }}
          </p>
        </header>
        <section class="modal-card-body">
          <data-submission
            @data-submitted="displayModal=false"
            :module="moduleToSubmit"
          />
        </section>
      </div>
    </b-modal>
    <ef-update-warning v-if="ghgi.year===2023" />
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-distance">
                {{ $t('label-2') }}
              </p>
              <div class="title is-size-4 has-text-distance">
                <p>
                  {{ synthesisData.total.intensity.intensity | splitNumberTons }} &plusmn; {{ synthesisData.total.intensity.uncertainty | splitNumberTons }}
                  <span class="is-size-6">{{ $t('t.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone">
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-top"
                  dashed type="is-black"
                >
                  <span v-html="$t('label-3')" />
                  <template v-slot:content>
                    {{ $t('tooltip-1') }}
                    <br />
                    {{ $t('tooltip-2') }} <strong>{{ totalPerCapita }} {{ $t('tooltip-3') }}</strong>.
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone">
                <p>
                  {{ getIntensityPerCapita() | splitNumber }} &plusmn; {{ getUncertaintyPerCapita() | splitNumber }}
                  <span class="is-size-6">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-carbone2">
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-top"
                  dashed type="is-black"
                >
                  {{ $t('label-4') }}
                  <template v-slot:content>
                    {{ $t('tooltip-4') }}
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone2">
                <p>
                  {{ (synthesisData.total.intensity.intensity / ghgi.budget) * 1000 | splitNumber }} &plusmn; {{ (synthesisData.total.intensity.uncertainty / ghgi.budget) * 1000 | splitNumber }}
                  <span class="is-size-6">{{ $t('g.co2e') }} / €</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <br />
    <div class="b-table">
      <div class="table-wrapper">
        <table class="table is-striped is-hoverable has-mobile-cards">
          <thead>
            <tr>
              <th v-if="!isPublic && authStore.isAuthenticated">
                <div class="th-wrap">
                  {{ $t('label-5') }}
                </div>
              </th>
              <th>
                <div class="th-wrap">
                  {{ $t('carbon.footprint') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-numeric">
                  {{ $t('emissions.t.co2e') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-numeric">
                  {{ $t('label-1') }}
                </div>
              </th>
              <th>
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
              <th v-if="!isPublic && authStore.isAuthenticated">
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
              <th v-if="!isPublic && authStore.isAuthenticated">
                <div class="th-wrap is-centered pl-0 pr-0"></div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              v-for="(module,index) in categoriesToDisplay"
              :key="index"
              draggable="false"
            >
              <td v-if="!isPublic && authStore.isAuthenticated" class="has-text-centered">
                <b-icon
                  v-if="synthesisData[module].submitted"
                  icon="check"
                  size="is-small"
                  type="is-success"
                />
                <b-icon
                  v-else
                  icon="times"
                  size="is-small"
                  type="is-danger"
                />
              </td>
              <td>
                <strong v-if="synthesisData[module]['_level'] === 1">
                  {{ synthesisData[module]['name'] }}
                  <purchases-warning v-if="module === PURCHASES" ref="purchasesWarning" :isTag="true" />
                </strong>
                <span style=" margin-left: 20px;" v-else-if="synthesisData[module]['_level'] === 2">|-- {{ synthesisData[module]['name'] }}</span>
                <span style=" margin-left: 40px;" v-else-if="synthesisData[module]['_level'] === 3">|-- {{ synthesisData[module]['name'] }}</span>
              </td>
              <td class="has-text-right">
                <strong v-if="synthesisData[module]['_level'] === 1">{{ Math.round(synthesisData[module].intensity.intensity) | splitNumberTons }} &plusmn; {{ Math.round(synthesisData[module].intensity.uncertainty) | splitNumberTons }}</strong>
                <span v-else>{{ Math.round(synthesisData[module].intensity.intensity) | splitNumberTons }} &plusmn; {{ Math.round(synthesisData[module].intensity.uncertainty) | splitNumberTons }}</span>
              </td>
              <td class="has-text-right">
                <strong v-if="synthesisData[module]['_level'] === 1">{{ Math.round(synthesisData[module].intensity.intensity / synthesisData.total.intensity.intensity * 10000 / 100) }} %</strong>
                <span v-else>{{ Math.round(synthesisData[module].intensity.intensity / synthesisData.total.intensity.intensity * 10000 / 100) }} %</span>
              </td>
              <td class="has-text-centered pl-0 pr-0" >
                <b-tooltip
                  v-if="synthesisData[module]._graphics.length > 0"
                  :label="$t('display')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="isDisabled(module)"
                    icon-right="bar-chart"
                    @click="plots(module)"
                  />
                </b-tooltip>
              </td>
              <td v-if="!isPublic && authStore.isAuthenticated" class="has-text-centered pl-0 pr-0">
                <b-tooltip
                  v-if="synthesisData[module]['_export']"
                  :label="$t('download')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    :disabled="isDisabled(module)"
                    icon-right="download"
                    @click="exportToFile(module)"
                  />
                </b-tooltip>
              </td>
              <td v-if="!isPublic && authStore.isAuthenticated" class="has-text-centered pl-0 pr-0">
                <b-tooltip
                  v-if="synthesisData[module]['_submit']"
                  :label="synthesisData[module].submitted ? $t('unsubmit') : $t('submit')"
                  type="is-black"
                >
                  <b-button
                    size="is-small"
                    icon-left="paper-plane"
                    :type="synthesisData[module].submitted ? '' : 'is-primary'"
                    @click="submitData(module)"
                  />
                </b-tooltip>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <b-modal
      :active.sync="displayGraphics"
      has-modal-card
      :width="1100"
    >
      <div class="modal-card" style="width: 1100px;">
        <section class="modal-card-body">
          <b-tabs
            v-if="module && synthesisData[module]._graphics.length > 1"
          >
            <b-tab-item
              v-for="(graphic,index) in synthesisData[module]._graphics.filter(obj => obj.enabled)"
              :key="index"
              :label="$t(graphic.label)"
            >
              <component
                :is="graphic.component"
                :ghgi="ghgi"
                :modules="coreStore.activeModules(true)"
                :colors="colors"
              />
            </b-tab-item>
          </b-tabs>
          <component
            v-else-if="module && synthesisData[module]._graphics.length === 1"
            :is="synthesisData[module]._graphics[0].component"
            :ghgi="ghgi"
            :modules="coreStore.activeModules(true)"
            :colors="colors"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Vue from 'vue'
import Modules from '@/models/Modules.js'
import Travel from '@/models/carbon/Travel.js'
import '@/plugins/highcharts.js'
import { createExportFile } from '@/utils/files'
import { CarbonIntensity, CarbonIntensities } from '@/models/carbon/CarbonIntensity.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'CarbonFootprintSynthesis',
  components: {
    'purchases-warning': () => import('@/components/carbon/forms/purchases/Warning.vue'),
    'ef-update-warning': () => import('@/components/carbon/results/EFUpdateWarning.vue'),
    'data-submission': () => import('@/components/carbon/results/DataSubmission.vue')
  },
  props: {
    isPublic: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      displayGraphics: false,
      module: 'total',
      displayModal: false,
      moduleToSubmit: null,
      emissionsPerCapita: 0,
      emissionsiPerCapita: 0,
      PURCHASES: Modules.PURCHASES
    }
  },
  setup () {
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    const coreStore = useCoreStore()
    return { authStore, ghgiStore, coreStore }
  },
  computed: {
    modules: function () {
      return this.coreStore.activeModules(false)
    },
    colors: function () {
      return this.coreStore.modulesColors
    },
    ghgi: function () {
      return this.ghgiStore.item
    },
    travels: function () {
      return this.ghgiStore.items(Modules.TRAVELS)
    },
    totalPerCapita () {
      return Number(this.ghgi.nResearcher) +
             Number(this.ghgi.nProfessor) / 2 +
             Number(this.ghgi.nEngineer) +
             Number(this.ghgi.nStudent)
    },
    /**
     * Build a datastructure to handle all the counts/graphs in the UI
     */
    synthesisData () {
      return {
        buildings: {
          'name': this.$t('post-1'),
          'submitted': this.ghgi.buildingsSubmitted,
          'intensity': new CarbonIntensities(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'EnergyPerformance',
              'enabled': true
            }
          ],
          '_submit': false,
          '_export': true,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        usage: {
          'name': this.$t('buildings-usage'),
          'submitted': this.ghgi.submitted.heatings && this.ghgi.submitted.electricity && this.ghgi.submitted.refrigerants && this.ghgi.submitted.water,
          'intensity': new CarbonIntensities(),
          '_level': 2,
          '_graphics': [],
          '_submit': false,
          '_export': false,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        heatings: {
          'name': this.$t('heatings'),
          'submitted': this.ghgi.submitted.heatings,
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [],
          '_submit': true,
          '_export': false,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        electricity: {
          'name': this.$t('electricity'),
          'submitted': this.ghgi.submitted.electricity,
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [],
          '_submit': true,
          '_export': false,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        refrigerants: {
          'name': this.$t('refrigerants'),
          'submitted': this.ghgi.submitted.refrigerants,
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [],
          '_submit': true,
          '_export': false,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        water: {
          'name': this.$t('water'),
          'submitted': this.ghgi.submitted.water,
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [],
          '_submit': true,
          '_export': false,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        construction: {
          'name': this.$t('construction'),
          'submitted': this.ghgi.submitted.construction,
          'intensity': new CarbonIntensity(),
          '_level': 2,
          '_graphics': [],
          '_submit': true,
          '_export': false,
          '_display': this.modules.includes(Modules.BUILDINGS)
        },
        ractivities: {
          'name': this.$t('post-11'),
          'submitted': this.ghgi.submitted.ractivities,
          'intensity': new CarbonIntensity(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'RActivitiesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.RACTIVITIES)
        },
        devices: {
          'name': this.$t('post-2'),
          'submitted': this.ghgi.submitted.devices,
          'intensity': new CarbonIntensity(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'DevicesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.DEVICES)
        },
        purchases: {
          'name': this.$t('post-9'),
          'submitted': this.ghgi.submitted.purchases,
          'intensity': new CarbonIntensity(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'PurchasesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.PURCHASES)
        },
        alltravels: {
          'name': this.$t('post-3'),
          'submitted': (this.ghgi.submitted.travels === this.modules.includes(Modules.TRAVELS)) &&
            (this.ghgi.submitted.vehicles === this.modules.includes(Modules.VEHICLES)) &&
            (this.ghgi.submitted.commutes === this.modules.includes(Modules.COMMUTES)),
          'intensity': new CarbonIntensities(),
          '_level': 1,
          '_graphics': [],
          '_submit': false,
          '_export': false,
          '_display': this.modules.includes(Modules.TRAVELS) || this.modules.includes(Modules.VEHICLES) || this.modules.includes(Modules.COMMUTES)
        },
        commutes: {
          'name': this.$t('post-4'),
          'submitted': this.ghgi.submitted.commutes,
          'intensity': new CarbonIntensity(),
          '_level': 2,
          '_graphics': [
            {
              'label': this.$t('emissions.t.co2e.short'),
              'component': 'CommutesEmissionsBar',
              'enabled': true
            },
            {
              'label': this.$t('distances.km'),
              'component': 'CommutesDistancesBar',
              'enabled': true
            },
            {
              'label': this.$t('volumes.day'),
              'component': 'CommutesVolumesBar',
              'enabled': true
            },
            {
              'label': this.$t('commuting.modes'),
              'component': 'CommutesDistancesModes',
              'enabled': true
            },
            {
              'label': this.$t('carpooling'),
              'component': 'CommutesDistancesCarpooling',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.COMMUTES)
        },
        proTravels: {
          'name': this.$t('post-5'),
          'submitted': (this.ghgi.submitted.travels === this.modules.includes(Modules.TRAVELS)) &&
            (this.ghgi.submitted.vehicles === this.modules.includes(Modules.VEHICLES)),
          'intensity': new CarbonIntensities(),
          '_level': 2,
          '_graphics': [
            {
              'label': this.$t('emissions.t.co2e.short'),
              'component': 'TravelsAndVehiclesEmissionsBar',
              'enabled': true
            },
            {
              'label': this.$t('distances.km'),
              'component': 'TravelsAndVehiclesDistancesBar',
              'enabled': this.modules.includes(Modules.TRAVELS)
            }
          ],
          '_submit': false,
          '_export': false,
          '_display': this.modules.includes(Modules.TRAVELS) || this.modules.includes(Modules.VEHICLES)
        },
        vehicles: {
          'name': this.$t('post-6'),
          'submitted': this.ghgi.submitted.vehicles,
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [
            {
              'label': '',
              'component': 'VehiclesPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.VEHICLES)
        },
        travels: {
          'name': this.$t('post-7'),
          'submitted': this.ghgi.submitted.travels,
          'intensity': new CarbonIntensity(),
          '_level': 3,
          '_graphics': [
            {
              'label': this.$t('modes.emissions'),
              'component': 'TravelsModesEmissionsBar',
              'enabled': this.hasStatusOption
            },
            {
              'label': this.$t('modes.distances'),
              'component': 'TravelsModesDistancesBar',
              'enabled': this.hasStatusOption
            },
            {
              'label': this.$t('purposes.emissions'),
              'component': 'TravelsPurposesEmissionsBar',
              'enabled': !this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('purposes.distances'),
              'component': 'TravelsPurposesDistancesBar',
              'enabled': !this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('purposes.emissions'),
              'component': 'TravelsModesPurposesEmissionsBar',
              'enabled': this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('purposes.distances'),
              'component': 'TravelsModesPurposesDistancesBar',
              'enabled': this.hasStatusOption && this.hasPurposeOption
            },
            {
              'label': this.$t('plane-emission'),
              'component': 'PlanesCumulativeEmissions',
              'enabled': true
            },
            {
              'label': this.$t('transportation.emissions'),
              'component': 'TransportationGraphs.vue',
              'enabled': true
            },

            {
              'label': this.$t('cummulated-emission'),
              'component': 'TravelsCumulativeEmissions',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.TRAVELS)
        },
        foods: {
          'name': this.$t('post-10'),
          'submitted': this.ghgi.submitted.foods,
          'intensity': new CarbonIntensity(),
          '_level': 1,
          '_graphics': [
            {
              'label': '',
              'component': 'FoodsPie',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': this.modules.includes(Modules.FOODS)
        },
        total: {
          'name': this.$t('post-8'),
          'submitted': this.allModulesSubmitted,
          'intensity': new CarbonIntensities(),
          '_level': 1,
          '_graphics': [
            {
              'label': this.$t('emissions.t.co2e.short'),
              'component': 'GHGIPie',
              'enabled': true
            },
            {
              'label': this.$t('emissions.t.co2e.short'),
              'component': 'GHGIBar',
              'enabled': true
            }
          ],
          '_submit': true,
          '_export': true,
          '_display': true
        }
      }
    },
    /**
     * Create an array of keys of synthesisData filtered
     * to keep only those relative to active modules
     */
    categoriesToDisplay: function () {
      let toDisplay = []
      for (let cat in this.synthesisData) {
        if (this.synthesisData[cat]['_display']) {
          toDisplay.push(cat)
        }
      }
      return toDisplay
    },
    hasPurposeOption: function () {
      return Travel.hasPurposeOption(this.travels)
    },
    hasStatusOption: function () {
      return Travel.hasStatusOption(this.travels)
    }
  },
  methods: {
    getIntensityPerCapita: function () {
      let intensity = this.synthesisData.total.intensity.intensity
      intensity -= this.synthesisData.buildings.intensity.intensity
      intensity = intensity / this.ghgiStore.nMember
      intensity += this.synthesisData.buildings.intensity.intensity / this.totalPerCapita
      return intensity
    },
    getUncertaintyPerCapita: function () {
      let uncertainty = this.synthesisData.total.intensity.uncertainty
      uncertainty -= this.synthesisData.buildings.intensity.uncertainty
      uncertainty = uncertainty / this.ghgiStore.nMember
      uncertainty += this.synthesisData.buildings.intensity.uncertainty / this.totalPerCapita
      return uncertainty
    },
    plots: function (module) {
      // first load all components
      for (let graphic of this.synthesisData[module]._graphics) {
        if (graphic.enabled) {
          Vue.component(
            graphic.component,
            () => import('@/components/graphics/' + graphic.component)
          )
        }
      }
      this.displayGraphics = true
      this.module = module
    },
    exportToFile (module) {
      let content = ''
      if (this.modules.includes(module)) {
        content = Modules.getClasse(module).exportToFile(this.ghgi[module])
      } else {
        let self = this
        content = [
          ['name', 'is.subtotal', 'submitted', 'emission.kg.co2e', 'uncertainty.kg.co2e'].join('\t'),
          ...self.categoriesToDisplay.map(function (key) {
            let toReturn = self.synthesisData[key]['name'] + '\t'
            let isSubTotal = (self.synthesisData[key]['_level'] === 1)
            toReturn += isSubTotal + '\t'
            toReturn += self.synthesisData[key]['submitted'] + '\t'
            toReturn += Math.round(self.synthesisData[key]['intensity'].intensity) + '\t'
            toReturn += Math.round(self.synthesisData[key]['intensity'].uncertainty) + '\t'
            return (toReturn)
          })
        ]
          .join('\n')
          .replace(/(^\[)|(\]$)/gm, '')
      }
      createExportFile(content, 'ghgi' + this.ghgi.year + '_' + module)
    },
    isDisabled: function (module) {
      return (this.synthesisData[module].intensity.intensity === 0)
    },
    okToSubmit: function (module) {
      let okToSubmit = true
      if (this.coreStore.activeModules(true).includes(module)) {
        // test specified module
        okToSubmit = Modules.getClasse(module).okToSubmit(
          this.ghgiStore.items(Modules.getParentModule(module)),
          module
        )
        this.errorMsg = this.$t('error-' + module)
      } else {
        // test all modules
        for (let m of this.coreStore.activeModules(true)) {
          okToSubmit = Modules.getClasse(m).okToSubmit(
            this.ghgiStore.items(Modules.getParentModule(m)),
            m
          )
          if (!okToSubmit) {
            this.errorMsg = this.$t('error-' + m)
            break
          }
        }
      }
      if (okToSubmit) {
        if (module === Modules.COMMUTES || module === Modules.FOODS || module === 'total') {
          okToSubmit = !this.ghgi.surveyActive
          this.errorMsg = this.$t('error-survey')
        }
      }
      return okToSubmit
    },
    submitData: function (module) {
      if (this.synthesisData[module].submitted) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.item.unsubmit(module)
        this.ghgiStore.submitData()
          .then(data => {
            loadingComponent.close()
          })
          .catch((erreur) => {
            loadingComponent.close()
          })
      } else {
        if (this.okToSubmit(module)) {
          this.moduleToSubmit = module
          this.displayModal = true
        } else {
          let self = this
          this.$buefy.dialog.alert({
            title: self.$t('title-2'),
            canCancel: ['escape', 'outside'],
            message: self.errorMsg,
            confirmText: self.$t('validate')
          })
        }
      }
    },
    processBuildings: function () {
      let results = this.ghgi.emissions.buildings
      this.synthesisData.heatings.intensity = results.heatings.intensity
      this.synthesisData.buildings.intensity.add(results.heatings.intensity)
      this.synthesisData.usage.intensity.add(results.heatings.intensity)
      this.synthesisData.total.intensity.add(results.heatings.intensity)

      this.synthesisData.electricity.intensity = results.electricity.intensity
      this.synthesisData.buildings.intensity.add(results.electricity.intensity)
      this.synthesisData.usage.intensity.add(results.electricity.intensity)
      this.synthesisData.total.intensity.add(results.electricity.intensity)

      this.synthesisData.refrigerants.intensity = results.refrigerants.intensity
      this.synthesisData.buildings.intensity.add(results.refrigerants.intensity)
      this.synthesisData.usage.intensity.add(results.refrigerants.intensity)
      this.synthesisData.total.intensity.add(results.refrigerants.intensity)

      this.synthesisData.water.intensity = results.water.intensity
      this.synthesisData.buildings.intensity.add(results.water.intensity)
      this.synthesisData.usage.intensity.add(results.water.intensity)
      this.synthesisData.total.intensity.add(results.water.intensity)

      this.synthesisData.construction.intensity = results.construction.intensity
      this.synthesisData.buildings.intensity.add(results.construction.intensity)
      this.synthesisData.total.intensity.add(results.construction.intensity)
    },
    processVehicles: function () {
      let results = this.ghgi.emissions.vehicles
      this.synthesisData.vehicles.intensity = results.intensity
      this.synthesisData.proTravels.intensity.add(results.intensity)
      this.synthesisData.alltravels.intensity.add(results.intensity)
      this.synthesisData.total.intensity.add(results.intensity)
    },
    processCommutes: function () {
      let results = this.ghgi.emissions.commutes
      this.synthesisData.commutes.intensity = results.intensity
      this.synthesisData.alltravels.intensity.add(results.intensity)
      this.synthesisData.total.intensity.add(results.intensity)
    },
    processFoods: function () {
      let results = this.ghgi.emissions.foods
      this.synthesisData.foods.intensity = results.intensity
      this.synthesisData.total.intensity.add(results.intensity)
    },
    processTravels: function () {
      let results = this.ghgi.emissions.travels
      let intensity = new CarbonIntensity(
        results.intensity.intensity,
        results.intensity.uncertainty
      )
      this.synthesisData.travels.intensity = intensity
      this.synthesisData.proTravels.intensity.add(intensity)
      this.synthesisData.alltravels.intensity.add(intensity)
      this.synthesisData.total.intensity.add(intensity)
    },
    processComputerDevices: function () {
      let results = this.ghgi.emissions.devices
      this.synthesisData.devices.intensity = results.intensity
      this.synthesisData.total.intensity.add(results.intensity)
    },
    processPurchases: function () {
      let results = this.ghgi.emissions.purchases
      this.synthesisData.purchases.intensity = results.intensity
      this.synthesisData.total.intensity.add(results.intensity)
    },
    processRActivities: function () {
      let results = this.ghgi.emissions.ractivities
      this.synthesisData.ractivities.intensity = results.intensity
      this.synthesisData.total.intensity.add(results.intensity)
    },
    process: function () {
      // First reset values
      this.synthesisData.buildings.intensity = new CarbonIntensities()
      this.synthesisData.usage.intensity = new CarbonIntensities()
      this.synthesisData.heatings.intensity = new CarbonIntensity()
      this.synthesisData.electricity.intensity = new CarbonIntensity()
      this.synthesisData.refrigerants.intensity = new CarbonIntensity()
      this.synthesisData.water.intensity = new CarbonIntensity()
      this.synthesisData.construction.intensity = new CarbonIntensity()
      this.synthesisData.ractivities.intensity = new CarbonIntensity()
      this.synthesisData.devices.intensity = new CarbonIntensity()
      this.synthesisData.purchases.intensity = new CarbonIntensity()
      this.synthesisData.alltravels.intensity = new CarbonIntensities()
      this.synthesisData.commutes.intensity = new CarbonIntensity()
      this.synthesisData.proTravels.intensity = new CarbonIntensities()
      this.synthesisData.vehicles.intensity = new CarbonIntensity()
      this.synthesisData.travels.intensity = new CarbonIntensity()
      this.synthesisData.foods.intensity = new CarbonIntensity()
      this.synthesisData.total.intensity = new CarbonIntensities()
      this.ghgiStore.compute()
      if (this.modules.includes(Modules.BUILDINGS)) { this.processBuildings() }
      if (this.modules.includes(Modules.VEHICLES)) { this.processVehicles() }
      if (this.modules.includes(Modules.COMMUTES)) { this.processCommutes() }
      if (this.modules.includes(Modules.TRAVELS)) { this.processTravels() }
      if (this.modules.includes(Modules.DEVICES)) { this.processComputerDevices() }
      if (this.modules.includes(Modules.PURCHASES)) { this.processPurchases() }
      if (this.modules.includes(Modules.FOODS)) { this.processFoods() }
      if (this.modules.includes(Modules.RACTIVITIES)) { this.processRActivities() }
    }
  },
  watch: {
    ghgi: {
      handler () {
        this.process()
      },
      deep: true
    }
  },
  beforeMount () {
    this.process()
  },
  mounted () {
    let self = this
    setTimeout(function () {
      self.$refs.purchasesWarning[0].forceComputation()
    }, 5)
  }
}
</script>

<style>
.has-text-distance {
  color: #935458 !important;
}
.has-text-carbone {
  color: #8e6a9e !important;
}
.has-text-carbone2 {
  color: #208dbc !important;
}
.heading .tooltip-content {
  text-transform: none;
}
.heading .b-tooltip.is-multiline.is-large .tooltip-content {
    width: 500px;
}
.b-tooltip.is-multiline .tooltip-content {
    text-align: left !important;
}
</style>
