<i18n>
{
  "fr": {
    "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Questionnaire alimentation</strong> : il est standardisée dans GES 1point5 et fourni dans l’outil. Ne pas en faire un autre s'il vous plait.</li></ul>"
  },
  "en": {
    "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Food survey</strong> : it is standardized in GES 1point5 and provided in the tool. Please do not create another one.</li></ul>"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpData'
}
</script>
