<i18n>
{
  "fr": {
    "field-1": "Validité",
    "field-2": "Valide",
    "field-3": "Nb jours déplacement",
    "field-4": "Repas",
    "field-5": "Réponse au questionnaire",
    "tooltip-1": "Afficher le message",
    "info-1": "Message du répondant",
    "no-meal": "Aucun repas"
  },
  "en": {
    "field-1": "Validity",
    "field-2": "Valid",
    "field-3": "Number of days commuting to work",
    "field-4": "Meals",
    "field-5": "Response to the survey",
    "tooltip-1": "Afficher le message",
    "info-1": "Message from the respondent",
    "no-meal": "No meal"
  }
}
</i18n>

<template>
  <div>
    <b-table
      :data="foods"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="20"
      default-sort="score"
      default-sort-direction="desc"
    >
      <b-table-column
        field="isValid"
        sortable
        :label="$t('field-1')"
        centered
      >
        <b-tag rounded type="is-success">{{ $t('field-2') }}</b-tag>
      </b-table-column>
      <b-table-column
        field="seqID"
        sortable
        :label="$t('id')"
        centered
        numeric
        v-slot="props"
      >
        {{ props.row.seqID }}
      </b-table-column>
      <b-table-column
        field="position"
        sortable
        :label="$t('position')"
        centered
        numeric
        v-slot="props"
      >
        {{ $t(props.row.position) }}
      </b-table-column>
      <b-table-column
        field="nWorkingDay"
        sortable
        :label="$t('field-3')"
        numeric
        v-slot="props"
      >
        {{ props.row.nWorkingDay }}
      </b-table-column>
      <b-table-column
        :label="$t('field-4')"
        sortable
        v-slot="props"
      >
        {{ getLabel(props.row) }}
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('tooltip-1')"
            type="is-black"
          >
            <b-button
              :disabled="!props.row.message"
              size="is-small"
              icon-right="envelope"
              @click="showMessage(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('display')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-right="search"
              @click="display(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="fa fa-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('no-meal') }}</p>
        </div>
      </section>
    </b-table>
    <b-modal
      :active.sync="displayModal"
      has-modal-card
      :can-cancel="['escape', 'x', 'outside']"
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('field-5') }}
          </p>
        </header>
        <section class="modal-card-body">
          <survey-summary
            :survey="food"
            :isSimulation="false"
            :isSurvey="false"
            :year="year"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Food from '@/models/carbon/Food.js'
import Modules from '@/models/Modules.js'
import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Table',
  setup () {
    const ghgiStore = useGHGIStore()
    return { ghgiStore }
  },
  props: {
    year: {
      type: Number,
      default: new Date().getFullYear()
    }
  },
  components: {
    'survey-summary': () => import('@/components/carbon/forms/survey/Summary.vue')
  },
  data () {
    return {
      food: Food.createEmpty(),
      displayModal: false
    }
  },
  computed: {
    foods: function () {
      return this.ghgiStore.items(Modules.FOODS)
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.meals
    }
  },
  methods: {
    showMessage: function (food) {
      let self = this
      this.$buefy.dialog.alert({
        title: self.$t('info-1'),
        message: food.message,
        confirmText: self.$t('validate')
      })
    },
    display: function (food) {
      this.food = food
      this.displayModal = true
    },
    getLabel (food) {
      let label = ''
      for (let meal of food.meals) {
        label += meal.amount + ' ' + this.$t(meal.type) + ', '
      }
      label = label.slice(0, -2)
      if (label === '') {
        label = '-'
      }
      return label
    }
  }
}
</script>
