<i18n>
{
  "fr": {
  },
  "en": {
  }
}
</i18n>

<template>
  <div>
    <b-table
      :data="scenarioStore.item.rules"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
    >
      <b-table-column :label="$t('field-1')" sticky v-slot="props">
        {{ translate(props.row, 'title') }}
      </b-table-column>
      <b-table-column :label="$t('field-1')" sticky v-slot="props">
        {{ $t(props.row.level1) }}
      </b-table-column>
    </b-table>
  </div>
</template>

<script>
import Rule from '../../models/scenario/Rule'
import { useScenarioStore } from '@/stores/scenario.js'

export default {
  name: 'DetailledResults',
  data () {
    return {
    }
  },
  setup () {
    const scenarioStore = useScenarioStore()
    return { scenarioStore }
  },
  methods: {
    translate (rule, key) {
      return Rule.translate(rule, key, this.$i18n.locale)
    }
  }
}
</script>
