<i18n>
{
  "fr": {
    "title-1": "Modifier un compte utilisateur",
    "label-1": "Email",
    "error-1": "L'email est déjà utilisé"
  },
  "en": {
    "title-1": "Update a user account",
    "label-1": "Email",
    "error-1": "This Email is already used"
  }
}
</i18n>

<template>
  <b-modal
    :active="displayModal"
    has-modal-card
    @close="$emit('close')"
    :can-cancel="['escape', 'x', 'outside']"
  >
    <div class="dialog" style="width: 800px; height: auto">
    <div class="modal-card" style="max-width: 100%">
      <form @submit.prevent="validateBeforeSubmit">
        <header class="modal-card-head">
          <p class="modal-card-title">{{ $t('title-1') }}</p>
        </header>
        <section class="modal-card-body">
          <b-field
            :label="$t('label-1') + ' *'"
            :type="{ 'is-danger': errors.has('email') }"
            :message="errors.first('email')"
          >
            <b-input v-model="citem.email"
              name="email"
              required="required"
              v-validate="{
                required: true,
                email: true,
                emailAvailable: citem.email
              }"
              :type="{ 'is-danger': errors.has('email') }"
              :placeholder="$t('label-1') + ' *'">
            </b-input>
          </b-field>
          <br />
          </section>
          <footer class="modal-card-foot">
            <b-button
              class="button"
              icon-left="close"
              @click="$emit('close')"
            >
              {{ $t('cancel') }}
            </b-button>
            <button
              type="submit"
              class="button is-primary"
            >
              <b-icon size="is-small" icon="refresh" />
              <span> {{ $t('update') }} </span>
            </button>
        </footer>
      </form>
    </div>
    </div>
  </b-modal>
</template>

<script>
import { useSuperadminStore } from '@/stores/superadmin.js'

export default {
  name: 'UserModal',
  inject: ['$validator'],
  props: {
    displayModal: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  setup () {
    const superAdminStore = useSuperadminStore()
    return { superAdminStore }
  },
  data () {
    return {
      citem: Object.assign({}, this.item)
    }
  },
  computed: {
    emails: function () {
      return this.superAdminStore.users.map(obj => obj.email.toLowerCase())
    }
  },
  methods: {
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$emit(
            'update',
            {
              'email': this.item.email,
              'item': this.citem
            }
          )
        }
      })
    }
  },
  watch: {
    item: {
      handler () {
        this.citem = Object.assign({}, this.item)
      },
      deep: true
    }
  },
  created () {
    let self = this
    this.$validator.extend('emailAvailable', {
      getMessage: field => self.$t('error-1'),
      validate: (value, args) => {
        return !self.emails.includes(value.toLowerCase())
      }
    })
  }
}
</script>
