<i18n>
{
  "fr": {
    "title": "Les comptes utilisateurs",
    "title-1": "Suppression compte utilisateur",
    "title-2": "Inactivation compte utilisateur",
    "message-1-1": "Etes vous sûr de vouloir supprimer définitivement le compte ",
    "message-1-2": " du laboratoire ",
    "message-2-1": "Etes vous sûr de vouloir inactiver le compte ",
    "message-2-2": " du laboratoire ",
    "ghgi": "BGES",
    "info": "L'ensemble des comptes utilisateurs sont listés dans le tableau ci-dessous. Depuis ce tableau, vous pouvez modifier le rôle et éditer certaines informations des utilisateurs.",
    "email": "Email",
    "active": "Actif",
    "inactive": "Inactif",
    "role": "Rôle",
    "superuser": "Administrateur·trice",
    "roles": "Roles",
    "reviewer": "Relecteur·trice",
    "user": "Utilisateur·trice",
    "no-user": "Aucun utilisateur",
    "last-login": "Connexion",
    "send-email": "Envoyer un email d'activation à l'utilisateur",
    "email-ok": "Email d'activation envoyé",
    "permissions-updated": "Permissions mises à jour",
    "nusers": "#utilisateurs·trices",
    "ninactive": "#comptes inactifs",
    "nsuperuser": "#administrateurs·trices",
    "nreviewer": "#relecteurs·trices",
    "laboratory": "Laboratoire",
    "nghgi": "#BGES"
  },
  "en": {
    "title": "Users account",
    "title-1": "Delete user account",
    "title-2": "User account deactivation",
    "message-1-1": "Are you sure you want to definitively delete the account ",
    "message-1-2": " of the laboratory ",
    "message-2-1": "Are you sure you want to inactivate the account ",
    "message-2-2": " of the laboratory ",
    "ghgi": "GHGI",
    "info": "All user accounts are listed in the table below. From this table, you can modify the role and edit certain user information.",
    "email": "Email",
    "active": "Active",
    "inactive": "Inactive",
    "role": "Role",
    "superuser": "Administrator",
    "reviewer": "Reviewer",
    "user": "Utilisateur",
    "no-user": "No users",
    "last-login": "Connection",
    "send-email": "Send user an activation email",
    "email-ok": "Activation email sent.",
    "permissions-updated": "Permissions updated",
    "nusers": "#users",
    "ninactive": "#inactives account",
    "nsuperuser": "#administrators",
    "nreviewer": "#reviewers",
    "laboratory": "Laboratory",
    "nghgi": "#GHGI"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="erreur" />
    <su-service :icon="'users'">
      <template #title>{{ $t('title') }} </template>
      {{ $t('info') }}
    </su-service>
    <br />
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('ninactive') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ ninactives }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('nusers') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ nusers }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('nsuperuser') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ nsuperusers }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('nreviewer') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ nreviewers }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <b-table
      :data="users"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="20"
    >
      <b-table-column
        sortable
        field="isActive"
        :label="$t('active')"
        v-slot="props"
      >
        <b-tag rounded v-if="props.row.isActive" type="is-success">
          {{ $t('active') }}
        </b-tag>
        <b-tag rounded v-else type="is-danger">
          {{ $t('inactive') }}
        </b-tag>
      </b-table-column>
      <b-table-column
        sortable
        field="lastLogin"
        :label="$t('last-login')"
        v-slot="props"
      >
        {{ $d(props.row.lastLogin) }}
      </b-table-column>

      <b-table-column
        sortable
        searchable
        field="email"
        :label="$t('email')"
        v-slot="props"
      >
        {{ props.row.email }}
      </b-table-column>

      <b-table-column
        sortable
        field="laboratory"
        :label="$t('laboratory')"
        v-slot="props"
      >
        {{ props.row.laboratory }}
      </b-table-column>

      <b-table-column
        sortable
        numeric
        field="nghgi"
        :label="$t('nghgi')"
        v-slot="props"
      >
        {{ props.row.nghgi }}
      </b-table-column>

      <b-table-column
        centered
        sortable
        field="isSuperUser"
        :label="$t('superuser')"
        v-slot="props"
      >
        <!-- don't allow to remove the last admin -->
        <b-checkbox
          v-model="props.row.isSuperUser"
          @input="(value) => superUserInput(props.row.email, value)"
          :disabled="nsuperusers == 1 && props.row.isSuperUser"
        >
        </b-checkbox>
      </b-table-column>
      <b-table-column
        sortable
        field="roles"
        :label="$t('roles')"
        v-slot="props"
      >
        <b-taginput
          ellipsis
          :allow-duplicate="false"
          v-model="props.row.roles"
          :data="filteredRoles"
          autocomplete
          @typing="getFilteredRoles"
          :allow-new="false"
          :open-on-focus="true"
          :icon="'caret-right'"
          :placeholder="$t('add')"
          @input="(value) => updateRoles(props.row.email, value)"
          :ref="`rolesinput-${props.row.email}`"
        >
          <!-- suggested items -->
          <template slot-scope="allRoles">
            <b-tag>
              {{ $t(allRoles.option.descriptor) }}
            </b-tag>
          </template>
          <!-- selected items -->
          <template #selected="rolesTags">
            <b-tag
              v-for="(role, index) in rolesTags.tags"
              :key="index"
              closable
              @close="
                $refs['rolesinput-' + props.row.email].removeTag(index, $event)
              "
            >
              {{ $t(role.descriptor) }}
            </b-tag>
          </template>
        </b-taginput>
      </b-table-column>
      <b-table-column :width="40" v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('edit')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="pencil"
              @click="editUser(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('send-email')"
            type="is-black"
          >
            <b-button
              :disabled="props.row.isActive"
              size="is-small"
              icon-left="paper-plane"
              @click="sendEmail(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('delete')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="trash"
              @click="deleteUser(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="fa fa-ban" style="font-size: 64px"></i>
          </p>
          <slot name="empty-actions">
            <p>{{ $t('no-user') }}</p>
          </slot>
        </div>
      </section>
    </b-table>

    <user-modal
      :displayModal="displayModal"
      :item="cuser"
      @update="updateUser"
      @close="closeModal"
    />
  </div>
</template>

<script>
import { Background } from '@/mixins/background.js'
import { User, ALL_ROLES } from '@/models/user/user.js'
import { useSuperadminStore } from '@/stores/superadmin.js'

export default {
  name: 'UsersAdmin',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'user-modal': () => import('@/components/superadmin/UserModal.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [Background],
  data () {
    return {
      erreur: null,
      // read-only
      allRoles: ALL_ROLES,
      filteredRoles: ALL_ROLES,
      displayModal: false,
      cuser: new User()
    }
  },
  computed: {
    ninactives: function () {
      return this.superAdminStore.inactives.length
    },
    nusers: function () {
      return this.superAdminStore.users.length
    },
    users: function () {
      return this.superAdminStore.users
    },
    nreviewers: function () {
      return this.superAdminStore.reviewers.length
    },
    nsuperusers: function () {
      return this.superAdminStore.superusers.length
    }
  },
  methods: {
    editUser (user) {
      this.cuser = Object.assign({}, user)
      this.displayModal = true
    },
    closeModal () {
      this.displayModal = false
      this.cuser = new User()
    },
    updateUser (data) {
      this.superAdminStore.updateUser(data)
        .then(data => {
          this.displayModal = false
        })
    },
    deleteUser (data) {
      let self = this
      let msg = this.$t('message-1-1') + '<strong>' + data.email + '</strong>'
      msg += this.$t('message-1-2') + '<strong>' + data.laboratory + '</strong>'
      msg += ' (' + data.nghgi + ' ' + this.$t('ghgi') + ') ?'
      let title = this.$t('title-1')
      if (data.isActive) {
        msg = this.$t('message-2-1') + '<strong>' + data.email + '</strong>'
        msg += this.$t('message-2-2') + '<strong>' + data.laboratory + '</strong>'
        msg += ' (' + data.nghgi + ' ' + this.$t('ghgi') + ') ?'
        title = this.$t('title-2')
      }
      this.$buefy.dialog.confirm({
        title: title,
        message: msg,
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          if (data.isActive) {
            data.setIsActive(false)
            self.superAdminStore.updateUser({
              'email': data.email,
              'item': data
            })
              .then(data => {
                loadingComponent.close()
              })
          } else {
            self.superAdminStore.deleteUser(data)
              .then(data => {
                loadingComponent.close()
              })
          }
        }
      })
    },
    superUserInput (email, value) {
      // guard, don't allow to suppress the last admin
      this.superAdminStore.updateUserIsAdmin({
        email: email,
        value: value
      })
    },
    getFilteredRoles (text) {
      this.filteredRoles = this.allRoles.filter((r) => r.descriptor.match(text))
    },
    translateRole (role) {
      return role.translate(this.$i18n.locale)
    },
    updateRoles (email, roles) {
      this.superAdminStore.updateRoles({
        email: email,
        roles: roles.map((r) => r.descriptor)
      })
    },
    sendEmail (user) {
      this.bgUI(
        async () => {
          await this.superAdminStore.sendActivationEmail(user.email)
        },
        this.toast(true, 'email-sent'),
        this.toast(false, 'email-sent')
      )
    }
  },
  setup () {
    const superAdminStore = useSuperadminStore()
    return { superAdminStore }
  },
  mounted () {
    this.bgUI(async () => {
      await Promise.all([this.superAdminStore.getUsers()])
    })
  }
}
</script>
