<i18n>
{
  "fr": {
    "info-1": "Le <a class='link' target='_blank' href='https://www.home.cern/'>CERN</a> à Genève, abrite une infrastructure de recherche internationale destinée à sonder <strong>la structure fondamentale de la matière</strong> : une série d’accélérateurs permettant de produire des faisceaux de particules accélérées à la plus haute énergie produite en laboratoire à ce jour."
  },
  "en": {
    "info-1": "TODO"
  }
}
</i18n>

<template>
  <div class="columns is-flex is-vcentered">
    <div class="column">
      <b-notification :closable="false">
        <span v-html="$t('info-1')" />
      </b-notification>
    </div>
    <div class="column is-2">
      <img src="@/components/carbon/forms/ractivities/components/cern/image.png">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardHelp'
}
</script>
