<i18n>
{
  "fr": {
    "title-1": "Les bâtiments",
    "title-2": "Suppression",
    "info-1": "Définissez l'ensemble des bâtiments occupés par le laboratoire en",
    "info-2": "On ne considère que les parties de bâtiments dédiées aux activités de recherche et au service support du laboratoire. Par conséquent, les salles d’enseignement, par exemple, seront déduites de la surface utile brute occupée.",
    "info-3": "Les données de consommations affichées ci-dessous pour le chauffage et l’électricité tiennent compte de la part de la surface utile brute que vous avez saisie.",
    "info-4": "Téléverser un fichier (.tsv ou .csv)",
    "info-5": "Certaines données de bâtiments ne sont pas valides. \n<br />Souhaitez-vous supprimer les bâtiments correspondant ?",
    "info-6": "Les données des bâtiments peuvent être saisies manuellement (bouton Ajouter) ou à l'aide de fichiers de bâtiments que vous pouvez téléverser. Chaque fichier doit être au format .tsv ou .csv, encodé en utf8 et doit contenir les colonnes comme",
    "info-7": "présenté ici",
    "info-8": "Lorsque des informations manquent ou sont erronées pour certains bâtiments, le statut <em>non valide</em> apparaît. En cliquant sur <i class='fa fa-pencil' style='font-size: 16px;'></i>, vous pouvez modifier la saisie du bâtiment concerné. Si aucune modification n’est opérée, le bâtiment demeurera non validé et ne sera pas pris en compte lors du calcul des émissions de GES.",
    "info-9": "Formats des fichiers de bâtiment",
    "save-msg": "Les informations de bâtiments ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "label-1": "Total electricité",
    "label-2": "Total chauffage",
    "label-3": "Lignes valides",
    "label-4": "Selectionner un fichier",
    "label-5": "Tous les fichiers",
    "label-5a": "Eau/Énergie",
    "label-6": "Classe énergétique",
    "message-1": "Format de fichier invalide",
    "message-2": "<div class='content'><p>Le séparateur de colonne doit être l'un des caractères suivants : <code>,</code>, <code>;</code>, <code>\t</code>.</p></div>",
    "message-3": "Fichier invalide",
    "message-4": "<div class='content'>Nous avons rencontré les problèmes suivants :<ul><li>Colonne <strong>« Nom du bâtiment »</strong> manquante ou non reconnue.</li><li>Colonne <strong>« Fluide clim »</strong> manquante ou non reconnue.</li><li>Colonne <strong>« Conso fluide clim »</strong> manquante ou non reconnue.</li></ul><p>Cela peut venir d'un mauvais nommage des colonnes, ou bien d'un mauvais formattage du fichier.</p></div>",
    "message-4b": "<div class='content'>Nous avons rencontré les problèmes suivants :<ul><li>Colonne <strong>« Nom du bâtiment »</strong> manquante ou non reconnue.</li><li>Colonne <strong>« Surface »</strong> manquante ou non reconnue.</li></ul><p>Cela peut venir d'un mauvais nommage des colonnes, ou bien d'un mauvais formattage du fichier.</p></div>",
    "message-5": "Fichier dupliqué",
    "message-6": "Un fichier avec le même nom a déjà été importé dans <em>GES 1point5</em>.",
    "message-7": "Suppression",
    "message-8": "Êtes vous sûr de vouloir supprimer les données du fichier",
    "message-9": "Êtes vous sûr de vouloir supprimer l'ensemble des données ?",
    "message-10": "Bâtiments ou fluides non reconnus",
    "message-11": "Certains identifiants de bâtiments ou de fluides frigorènes n'ont pas été reconnus. \n Verifiez que les noms de bâtiments utilisés dans les fichiers <i> énergies </i> et <i> fluides frigorigènes </i> correspondent. \n Verifiez également que les identifiants utilisés pour les fluides frigorigènes sont correctes (voir liste).",
    "message-12": "Bâtiment dupliqué",
    "message-13": "Un bâtiment avec le même nom a déjà été importé.",
    "tooltip-1": "1 MWh = 1000 kWh"
  },
  "en": {
    "title-1": "Buildings",
    "title-2": "Delete",
    "info-1": "Define all the buildings occupied by the laboratory in",
    "info-2": "We only consider the spaces of the building that are dedicated to the research activities and to the research support services of the laboratory. Consequently teaching spaces, for example, must be subtracted from the gross useful area occupied. ",
    "info-3": "The consumption data posted below for heating and electricity account for the share of the gross useful area that you have entered. ",
    "info-4": "Upload a file (.tsv or .csv)",
    "info-5": "Some buildings data are not valid. \n <br />Would you like to delete the corresponding buildings?",
    "info-6": "Building data can be entered manually (Add button) or using building files that you can upload. Each file must be in .tsv or .csv format, encoded in utf8 and must contain the columns as",
    "info-7": "described here",
    "info-8": "When data are missing or incorrect for some buildings, the status is <em>invalid</em>. When clicking on <i class='fa fa-pencil' style='font-size: 16px;'></i>, you can update the data of the related building. If no update is made, the building remains invalid and will not be considered for the GHG emission calculation.",
    "info-9": "Building file formats",
    "save-msg": "The buildings data have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "label-1": "Electricity total",
    "label-2": "Heating total",
    "label-3": "Valid rows",
    "label-4": "Select a file",
    "label-5": "All files",
    "label-5a": "Water/Energy",
    "label-6": "Average Energy class",
    "message-1": "Invalid file format",
    "message-2": "<div class='content'><p>The column separator must be one of the following characters: <code>,</code>, <code>;</code>, <code>\t</code>.</p></div>",
    "message-3": "Invalid file",
    "message-4": "<div class='content'>The tool identified the following issues: <ul><li><strong>« Building name »</strong> column missing or not found.</li><li><strong>« Refrigerant »</strong> column missing or not found.</li><li><strong>« Consumption »</strong> column missing or not found.</li></ul><p>This might be explained by a bad naming of the columns, or a bad formatting of the file.</p></div>",
    "message-4b": "<div class='content'>The tool identified the following issues: <ul><li><strong>« Building name »</strong> column missing or not found.</li><li><strong>« Area »</strong> column missing or not found.</li></ul><p>This might be explained by a bad naming of the columns, or a bad formatting of the file.</p></div>",
    "message-5": "Duplicate file",
    "message-6": "A file with the same name has already been imported into <em>GES 1point5</em>.",
    "message-7": "Delete",
    "message-8": "Are you sure that you want to delete the data uploaded from the file ",
    "message-9": "Are you sure that you want to delete all data?",
    "message-10": "Building(s) or refrigerant(s) not recognized",
    "message-11": "Some building or refrigerant identifiers were not recognized. \n Check that the building names used in the <i> energy </i> and <i> refrigerant </i> files match. \n Also check that the identifiers used for refrigerants are valid (see list). ",
    "message-12": "Duplicate building",
    "message-13": "A building with the same name has already been imported.",
    "tooltip-1": "1 MWh = 1000 kWh"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error"/>
    <su-service :icon="'building'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <p>
        {{ $t('info-1') }} <strong>{{ GHGIyear }}</strong>.
        <br />
        <br />
        {{ $t('info-2') }}
        <br />
        <br />
        {{ $t('info-6') }} <a class="link" @click="displayTSV=true"> {{ $t('info-7') }}</a>.
        <br />
        <br />
        {{ $t('info-3') }} <span v-html="$t('info-8')"></span>
      </p>
    </su-service>
    <br />
    <b-modal
      :active.sync="displayTSV"
      has-modal-card
    >
      <div class="modal-card" style="width: 920px; height: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('info-9') }}
          </p>
        </header>
        <section class="modal-card-body">
          <buildings-file-format />
        </section>
      </div>
    </b-modal>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <b-field>
            <b-select expanded :placeholder="$t('label-4')" v-model="currentFile">
              <option :value="allFiles[0].filename"> {{ allFiles[0].filename }} </option>
              <optgroup :label="$t('label-5a')">
                <option v-for="(file,key) in allFilesEnergies" :key="key" :value="file.filename">
                  {{ file.filename }}
                </option>
              </optgroup>
              <optgroup :label="$t('refrigerants')">
                <option v-for="(file,key) in allFilesRefrigerants" :key="key" :value="file.filename">
                  {{ file.filename }}
                </option>
              </optgroup>
            </b-select>
            <p class="control">
              <b-button
                :disabled="submitted"
                @click="del"
                icon-left="trash"
              />
            </p>
          </b-field>
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-3') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span> {{ totalValid | splitNumber }} / {{ (totalValid + totalInvalid) | splitNumber }} </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-1') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <b-tooltip
                        :label="$t('tooltip-1')"
                        position="is-bottom"
                        type="is-dark"
                      >
                        <span>{{ (totalElectricity / 1000).toFixed(0) | splitFloat }} MWh</span>
                      </b-tooltip>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-2') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <b-tooltip
                        :label="$t('tooltip-1')"
                        position="is-bottom"
                        type="is-dark"
                      >
                        <span> {{ (totalHeating / 1000).toFixed(0) | splitFloat }} MWh </span>
                      </b-tooltip>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column is-4 is-flex is-vcentered">
        <b-upload
          :disabled="submitted"
          v-model="dropFile"
          drag-drop
          expanded
          type="is-info"
        >
          <section class="section">
            <div class="content has-text-centered">
              <p>
                <span class="icon">
                  <i style="font-size: 36px" class="fa fa-upload"></i>
                </span>
              </p>
              <p>{{ $t('info-4') }}</p>
            </div>
          </section>
        </b-upload>
      </div>
    </div>
    <br />

    <buildings-table
      @edit="edit"
      @delete="$emit('is-modified', true)"
      data-testid="buildings-table"
    />

    <building-modal
      v-if="building!==null"
      :displayModal="displayModal"
      :building="building"
      :buildings="buildings"
      :modeCreation="modeCreation"
      @close="closeModal"
      @update="update"
      @add="add"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            data-testid="buildings-save"
            :icon-left="validSavedIcon"
            :disabled="!module.isModified"
            type="is-primary"
            @click="validate()"
          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Building from '@/models/carbon/Building.js'
import Modules from '@/models/Modules.js'
import { parseFile, keysToHeatingType } from '@/utils/buildingsParser'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'

const clonedeep = require('lodash.clonedeep')

export default {
  name: 'Main',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'buildings-file-format': () => import('@/components/carbon/docs/BuildingsFileFormat.vue'),
    'building-modal': () => import('@/components/carbon/forms/buildings/Modal.vue'),
    'buildings-table': () => import('@/components/carbon/forms/buildings/Table.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    module: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      displayTSV: false,
      modeCreation: false,
      displayModal: false,
      building: null,
      activeTab: 0,
      dropFile: null,
      currentFile: null,
      isElectric: this.$t('yes').toUpperCase(),
      allFiles: [
        {
          filename: this.$t('label-5'),
          filetype: 'overview'
        }
      ]
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    return { adminStore, authStore, ghgiStore }
  },
  computed: {
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    submitted: function () {
      return this.ghgiStore.item.hasOneBuildingsModuleSubmitted
    },
    GHGIyear: function () {
      return this.ghgiStore.item.year
    },
    buildings: function () {
      return this.ghgiStore.items(Modules.BUILDINGS)
    },
    laboratory: function () {
      return this.adminStore.laboratory
    },
    mainSite: function () {
      if ('mainSite' in this.laboratory) {
        return this.laboratory.mainSite
      } else {
        return ''
      }
    },
    allFilesEnergies: function () {
      return this.allFiles.filter(obj => obj.filetype === 'energies')
    },
    allFilesRefrigerants: function () {
      return this.allFiles.filter(obj => obj.filetype === Modules.REFRIGERANTS)
    },
    totalElectricity: function () {
      let validBuildings = this.buildings.filter(obj => obj.score !== 2 && obj.electricity)
      return validBuildings.map(obj => obj.getElectricityConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0).toFixed(0)
    },
    totalHeating: function () {
      let validBuilding = this.buildings.filter(obj => obj.score !== 2 && obj.heatings)
      return validBuilding.map(obj => obj.getTotalHeatingConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0).toFixed(0)
    },
    totalInvalid: function () {
      return this.ghgiStore.invalidItems(Modules.BUILDINGS).length
    },
    totalValid: function () {
      return this.ghgiStore.validItems(Modules.BUILDINGS).length
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getAllBuildings()
        .then(data => {
          loadingComponent.close()
        })
    }
  },
  watch: {
    dropFile: function () {
      if (this.dropFile) {
        let allFilesNames = this.allFiles.map(obj => obj.filename)
        if (!allFilesNames.includes(this.dropFile.name)) {
          this.error = ''
          this.$emit('is-modified', true)
          let self = this
          try {
            parseFile(this.dropFile)
              .then((results) => {
                let [filetype, data, headerMap, error] = results
                // Deal with main buildings file
                if (error === 'ok' && filetype === 'energies') {
                  const allBuildingsInDB = self.adminStore.allBuildings
                  const heatHeaders = Object.values(headerMap.heatings).filter(val => val !== null && val !== headerMap.heatings.urbanConsumption)
                  for (let line of data) {
                    if (line[headerMap.name] && line[headerMap.area]) {
                      // Create the building with empty elec, heatings and refrigerants arrays
                      let newBuilding = {
                        id: null,
                        name: line[headerMap.name],
                        constructionYear: line[headerMap.year],
                        area: line[headerMap.area],
                        share: line[headerMap.share] || 100,
                        heatings: [],
                        refrigerants: [],
                        electricity: Building.createConsumption(),
                        water: Building.createConsumption(),
                        selfProduction: !!line[headerMap.selfConsumption],
                        selfConsumption: line[headerMap.selfConsumption] || 0,
                        site: line[headerMap.site] || '',
                        source: self.dropFile.name
                      }
                      // if building is in database already, retrieve id to avoid duplicate
                      let buildingIsInDB = allBuildingsInDB.filter(obj => obj.name === newBuilding.name)
                      if (buildingIsInDB.length) {
                        newBuilding.id = buildingIsInDB[0].id
                      }
                      if (line[headerMap.electricity]) {
                        newBuilding.electricity.total = line[headerMap.electricity]
                        newBuilding.electricity.isMonthly = false
                      }
                      if (line[headerMap.water]) {
                        newBuilding.water.total = line[headerMap.water]
                        newBuilding.water.isMonthly = false
                      }
                      // Create heating objects and add them to the building
                      var ownedHeatings = []
                      if (headerMap.isOwned && line[headerMap.isOwned]) {
                        const ownedKeys = line[headerMap.isOwned].split(',')
                        ownedHeatings = ownedKeys.map(obj => keysToHeatingType[obj])
                      }
                      for (let head of heatHeaders) {
                        if (line[head]) {
                          let newHeating = Building.createHeating()
                          if (head === headerMap.heatings.urbanNetwork) {
                            newHeating.type = 'urban.network'
                            newHeating.urbanNetwork = line[headerMap.heatings.urbanNetwork]
                            newHeating.total = line[headerMap.heatings.urbanConsumption] || 0
                            newHeating.isMonthly = false
                          } else if (head === headerMap.heatings.electric && line[head].toUpperCase() === self.isElectric) {
                            newHeating.type = 'electric'
                          } else {
                            newHeating.type = Object.keys(headerMap.heatings).find(key => headerMap.heatings[key] === head)
                            newHeating.total = line[head]
                            newHeating.isMonthly = false
                          }
                          if (ownedHeatings.length && ownedHeatings.includes(newHeating.type)) {
                            newHeating.isOwnedByLab = true
                          }
                          newBuilding.heatings.push(newHeating)
                        }
                      }
                      if (!newBuilding.heatings.length) {
                        newBuilding.heatings.push(Building.createHeating())
                      }
                      // Save building to store if name not in the store already
                      let allBuildingNames = self.buildings.map(obj => obj.name)
                      if (allBuildingNames.includes(newBuilding.name)) {
                        let msg = ' <strong>' + newBuilding.name + '</strong> : ' + self.$t('message-13')
                        self.$buefy.dialog.alert({
                          title: self.$t('message-12'),
                          message: msg
                        })
                      } else {
                        self.ghgiStore.addItem({
                          module: Modules.BUILDINGS,
                          item: newBuilding
                        })
                      }
                    }
                  }
                  self.allFiles.push({
                    filename: self.dropFile.name,
                    filetype: 'energies'
                  })
                  self.currentFile = self.dropFile.name

                // Deal with refrigerants file
                } else if (error === 'ok' && filetype === Modules.REFRIGERANTS) {
                  let allRefrigerants = Building.getRefrigerants()
                  let allBuildingNames = self.buildings.map(obj => obj.name)
                  let invalidItem = 0
                  for (let line of data) {
                    // Check if building exists in the store, then push new refrigerant
                    if (allBuildingNames.includes(line[headerMap.name]) &&
                      allRefrigerants.includes(line[headerMap.refrigerants.name].toLowerCase()) &&
                      line[headerMap.refrigerants.total]) {
                      let newRefrigerant = {
                        id: null,
                        name: line[headerMap.refrigerants.name].toLowerCase(),
                        total: line[headerMap.refrigerants.total]
                      }
                      self.addRefrigerant({
                        buildingName: line[headerMap.name],
                        refrigerant: newRefrigerant,
                        source: self.dropFile.name
                      })
                    } else { invalidItem++ }
                  }
                  if (invalidItem) {
                    self.$buefy.dialog.alert({
                      title: self.$t('message-10'),
                      message: self.$t('message-11')
                    })
                  }
                  self.allFiles.push({
                    filename: self.dropFile.name,
                    filetype: Modules.REFRIGERANTS
                  })
                  self.currentFile = self.dropFile.name
                } else if (error === 'bad separator') {
                  self.$buefy.dialog.alert({
                    title: self.$t('message-1'),
                    message: self.$t('message-2')
                  })
                  self.dropFile = null
                } else if (error === 'missing columns' && filetype === Modules.REFRIGERANTS) {
                  self.$buefy.dialog.alert({
                    title: self.$t('message-3'),
                    message: self.$t('message-4')
                  })
                  self.dropFile = null
                } else if (error === 'missing columns' && filetype === 'energies') {
                  self.$buefy.dialog.alert({
                    title: self.$t('message-3'),
                    message: self.$t('message-4b')
                  })
                  self.dropFile = null
                }
              })
          } catch (error) {
            self.$buefy.dialog.alert({
              title: self.$t('message-3'),
              message: self.$t('message-4')
            })
          }
        } else {
          this.$buefy.dialog.alert({
            title: this.$t('message-5'),
            message: this.$t('message-6')
          })
        }
      }
    }
  },
  methods: {
    validate: function () {
      let self = this
      if (this.ghgiStore.invalidItems(Modules.BUILDINGS).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('title-2'),
          message: self.$t('info-5'),
          confirmText: self.$t('delete'),
          cancelText: self.$t('keep'),
          canCancel: ['button'],
          onConfirm: function () {
            self.ghgiStore.deleteInvalidItems(Modules.BUILDINGS)
            self.subValidate()
          },
          onCancel: function () {
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(Modules.BUILDINGS)
          .then(data => {
            loadingComponent.close()
            this.error = ''
            this.$emit('is-modified', false)
            this.$emit('is-valid', this.buildings.length > 0)
            this.allFiles = [
              {
                filename: this.$t('label-5'),
                filetype: 'overview'
              }
            ]
            this.currentFile = this.allFiles[0].filename
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
          })
          .catch((error) => {
            loadingComponent.close()
            this.error = error.response.data
            this.$emit('is-valid', false)
          })
      } else {
        this.$emit('is-valid', this.buildings.length > 0)
        this.$emit('is-modified', false)
      }
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.building = new Building(
        null, '', 0, 100, null,
        [Building.createHeating()], [],
        Building.createConsumption(),
        Building.createConsumption(),
        false, 0, this.mainSite
      )
      this.displayModal = true
    },
    closeModal: function () {
      this.displayModal = false
      this.building = null
    },
    add: function (building) {
      this.ghgiStore.addItem({
        module: Modules.BUILDINGS,
        item: building
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    update: function (obj) {
      this.ghgiStore.updateItem({
        module: Modules.BUILDINGS,
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    addRefrigerant: function (iobj) {
      const item = this.buildings.find(obj => obj.name === iobj.buildingName)
      let nbuilding = clonedeep(item)
      nbuilding.refrigerants.push(iobj.refrigerant)
      nbuilding.sourceRefrigerant = iobj.source
      this.ghgiStore.updateItem({
        module: Modules.BUILDINGS,
        item: {
          'from': item,
          'to': nbuilding
        }
      })
      this.$emit('is-modified', true)
    },
    del: function () {
      let self = this
      let msg = this.$t('message-8') + ' <strong>' + this.currentFile + '</strong> ?'
      let source = this.currentFile
      if (this.currentFile === this.allFiles[0].filename) {
        msg = this.$t('message-9')
        source = null
      }
      this.$buefy.dialog.confirm({
        title: self.$t('message-7'),
        message: msg,
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.ghgiStore.deleteSource({
            module: Modules.BUILDINGS,
            source: source
          })
          self.$emit('is-modified', true)
          if (source) {
            let index = self.allFiles.findIndex(obj => obj.filename === source)
            self.allFiles.splice(index, 1)
          } else {
            self.allFiles = [
              {
                filename: self.$t('label-5'),
                filetype: 'overview'
              }
            ]
          }
          self.currentFile = self.$t('label-5')
          self.dropFile = null
        }
      })
    },
    edit: function (building) {
      this.modeCreation = false
      this.building = building
      this.displayModal = true
    }
  }
}
</script>

<style>
.b-tabs .tabs {
  overflow: visible;
}
.b-tabs .tabs li.is-disabled {
  pointer-events: auto;
}
.b-tabs .tabs li.is-disabled a:active {
  pointer-events: none;
}
span.heating-header {
  margin-right: 15px;
}
.table td {
  vertical-align: middle !important;
}
</style>
